<div class="manage-items hidden showOnLoad">
  <%# if we have the ability to edit items but we are not currently in sort mode, show the control %>
  <% if @saved_items.count > 0 && !@manage && can?(:update, @saved_items.first) %>
    <%= "<span> | </span>".html_safe if saved_list_type == 'gallery' %>
    <%= link_to t('revs.favorites.manage'), url_for(params.merge({:manage=>true,:page=>1,:per_page=>500000, :view => @view})) %>

  <%# if we have the ability to sort and we ARE in sort mode %>
  <% elsif @manage && can?(:update,@saved_items.first) %>
    <% @available_galleries=current_user.galleries(current_user).where('id != ?',@saved_items.first.gallery_id) %>
    <%= "<span> | </span>".html_safe if saved_list_type == 'gallery' %>
    <%= link_to t('revs.favorites.manage'), url_for(params.except(:manage).merge({:view => @view})),:class=>'active', title: "Click to leave manage item mode" %>
  <% end %>

</div>
