<div class="row results-controls">

  <div class="span4">
    <div class="reorder-controls">
      <% if !@reorder && can?(:update, saved_items.first) # if we have the ability to edit items but we are not currently in sort mode, show the control%>
        <ul class="nav nav-pills hidden showOnLoad">
          <li>
            <%= link_to t('revs.favorites.sort_mode'), url_for(params.merge({:reorder=>true,:page=>1,:per_page=>500000})) %>
          </li>
        </ul>
      <%elsif @reorder && can?(:update,saved_items.first) %>
        <ul class="nav nav-pills hidden showOnLoad">
          <li>
            <%= link_to t('revs.favorites.sort_mode'), request.path,:class=>'active' %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>

  <div class="span5 saved-item-pagination">
    <span class="prev-next">
      <%= page_entries_info saved_items, :entry_name => 'item' %>
    </span>
  </div>

</div>
