<ul class="nav list-unstyled">
  <li class="nav-header text-uppercase">
    <%= t('revs.dashboards') %>
  </li>
  <li>
    <%= link_to t('revs.user.user_dashboard',:name=>t('revs.user.your')), user_path(user.username) %>
  </li>

  <% if can? :curate, :all %>
    <li><%= link_to t('revs.user.curator_dashboard'), curator_tasks_path %></li>
  <% end %>
  <% if can? :administer, :all  %>
    <li><%= link_to t('revs.user.admin_dashboard'), admin_collection_highlights_path %></li>
  <% end %>
</ul>
