    <ul class="nav nav-list">
      <li class="nav-header"><%= t('revs.dashboards') %></li>
      <% if can? :administer, :all  %>
        <li><%= link_to t('revs.user.admin_dashboard'), admin_collection_highlights_path %></li>
      <% end %>
      <% if can? :curate, :all %>
        <li><%= link_to t('revs.user.curator_dashboard'), curator_tasks_path %></li>
      <% end %>
      <li><%= link_to t('revs.user.user_dashboard'), user_profile_name_path(user.username) %></li>
    </ul>