<div id="sidebar" class="span3">
  <div id="sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header"><%= t('revs.admin.sidebar.actions') %></li>
      <li>Placeholder</li>
    </ul>
  </div>
</div>
