<div id="sidebar" class="col-md-3">
  <div id="sidebar-nav">
    <% if user_signed_in? %>

      <% if can? :administer, :all  %>
        <%= render :partial=>'/devise/shared/admin_actions' %>
      <% end %>

      <%= render :partial=>'/devise/shared/dashboards', :locals=>{:user=>current_user} %>

    <% end %>
  </div>
</div>
