<div id="sidebar" class="span3">
  <div id="sidebar-nav">

    <% if user_signed_in? %>

      <% if can? :curate, :all  %>
        <ul class="nav nav-list">
          <li class="nav-header"><%= t('revs.admin.sidebar.actions') %></li>
          <li><%= link_to t('revs.curator.view_flagged_items'), curator_tasks_path %></li>
		  <li><%= link_to t('revs.curator.sidebar.annotations'), annotations_table_curator_tasks_path%>
        </ul>
      <% end %>

      <%= render :partial=>'/devise/shared/dashboards', :locals=>{:user=>current_user} %>

    <% end %>

  </div>
</div>
