<div id="content" class="span9">

  <h2><%= t('revs.admin.dashboard') %></h2>

  <div class="row functions">
    <div class="span8">
      <%= render :partial=>'/devise/shared/admin_actions' %>
    </div>
  </div>
    
</div>

<%= render :partial => 'devise/shared/show_admin_sidebar' %>

