<div id="content" class="col-sm-9 admin saved-query">
	<div class="row">
	  <div class="col-sm-12">
      <h2><%= t('revs.messages.new') %></h2>
	  </div>
	</div>

	<div class="row">
	  <div class="col-sm-12">

      <%= form_for(@saved_query, :url => admin_saved_queries_path, :html => { :method => :post, :class => "form-horizontal" }) do |f| %>

        <%= render :partial=>'form',:locals=>{:f=>f} %>

      <% end %>

	  </div>
	</div>

</div>

<%= render :partial => 'devise/shared/show_admin_sidebar' %>
