<!-- Brandbar snippet start -->
<div id="brandbar">
  <div class="container">
    <%= link_to(image_tag("SUL-Logo-white-text-h25.png", :alt => "Stanford University Libraries"), "http://library.stanford.edu/")%>
  </div> <!-- .container end -->
</div> <!-- #brandbar end -->
<!-- Brandbar snippet end -->

<div id="header-navbar-static-top" class="navbar navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
	      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="row">
        <div class="span3">
          <%= link_to(image_tag("revs-logo.png", :alt => "Revs Program at Stanford Logo"), root_path, :class => "logo")%>
        </div>
        <div class="span8 site-header-content">
          <h1>Revs Digital Library</h1>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active">
                <a href="/" class="active">HOME</a>
              </li>
              <li>
                <a href="#">COLLECTIONS</a>
              </li>
              <li><%= link_to 'ABOUT', :controller => "about", :action => "project" %></li>
              <li>
                <a href="#">REVS PROGRAM AT STANFORD</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
