<div class="nav-searchbox">
  <%= form_tag search_action_url, :method => :get, :class => 'search-form-nav' do %>
    <%= search_as_hidden_fields(:omit_keys => [:q, :search_field, :qt, :page]).html_safe %>
    <div class="input-append">
      <%= text_field_tag :q, params[:q], :class => "search_q q span2 search-query", :id => "q" %>
      <button type="submit" class="btn btn-small">
        <%= t('revs.search.search_label') %>
      </button>
    </div>
  <% end %>
</div>
