<div class="control-group">
  <label for="per_page" class="control-label">
    <%= t('revs.admin.per_page') %>
  </label>
  <div class="controls">
    <%= select_tag 'per_page', options_for_select({'10'=>'10','25'=>'25','50'=>'50','100'=>'100','500'=>'500'}, @per_page), class: "col-md-2" %>
  </div>
</div>
