<% @from = request.path %>

<div id="report-problem-form" class="row">
  <div class="row">
    <div class="span9 offset3">
      <h2>Contact Us</h2>
    </div>
  </div>

  <div class="row">
    <div class="span9 offset3">
      <%= render "/about/contact" %>
    </div>
  </div>
</div>
