<% @from = request.path %>

<div id="report-problem-form" class="row">
  <div class="row">
    <div class="span9 offset3">
      <h2><%=t('revs.about.contact_us')%></h2>
    </div>
  </div>

  <div class="row">
    <div class="span9 offset3">
      <%= render :partial=>"/about/contact", :locals=>{:location=>'top-contact-form'} %>
    </div>
  </div>
</div>
