<% @from = request.path %>

<div id="report-problem-form" class="row">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h2><%=t('revs.about.contact_us')%></h2>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <%= render "/about/contact" %>
    </div>
  </div>
</div>
