  <% if obj.errors.size > 0 %>
    <div id="validation-errors" class="alert alert-error">
      <% obj.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </div>
	<% end %>