<div class="flag-info">
  <%=flag.user == current_user ? "You" : flag.user.to_s%> on <%=show_as_date(flag.created_at)%>
  <blockquote><%= flag.comment%></blockquote>
  <% if can? :destroy, flag%>
    <%= button_to 'Remove',flag_path(flag.id), :method=>:delete,:remote=>true, :confirm=>"Are you sure you want to remove this flag?", :class => "btn btn-mini btn-danger" %>
  <% end %>
</div>