# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: a8501729feee568f1ff8bea9b4e1c396dd3d7d1c085a3c746ccc8878705e178bd7f1146342ba9073635dabcf90670194055b52fcc1f8272cd1a5afa48a671c7b

test:
  secret_key_base: cb997481352dab7637b574a5943d87c1fd55d52bba1bc90f96348315f7267aaebe0de6924cdcdf9f8121b594c7f2c35308bb0b0afc85e129d0a94e0e7c8a5ba5

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
