# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: f7257db00dbbe9b2f88e650182ff02dbd6aa97de1bf2831ec18b3a37b1a624ba73c1639a1c546c919a73bd93900747dd769886738af8451008011981e20ffba7

test:
  secret_key_base: a411a13dfce249e3c2c06ca1b19ec717c03f547c4121c92215f855eb140ee4b7bf31ab6a7e8588d473dd62162920b472efed7370b0c9267575ea5f9d724c73c6

staging:
  secret_key_base: 44c709dae8001f821bd9091fb9e69dc46bb6298bd10906cbab3e9278cb7e2f107ab266e6be705e8a3f4eff37f84e24a9b95de361e8d9bb7539e52547b93ffc39

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
