<ul class="nav list-unstyled">
  <li class="nav-header text-uppercase"><%= t('revs.sidebar.history.title') %></li>
  <% if current_or_guest_user %>
    <li><%= link_to t('blacklight.header_links.bookmarks'), bookmarks_path %></li>
  <% end %>
  <% if has_user_authentication_provider? and current_user %>
    <li><%= link_to t('blacklight.header_links.saved_searches'), saved_searches_path %></li>
  <% end %>
  <li><%= link_to t('revs.sidebar.history.search_history'), search_history_path %></li>
</ul>
