<ul class="nav list-unstyled">
  <li class="nav-header text-uppercase"><%= t('revs.sidebar.navigation.title') %></li>
  <li><%= link_to(t('revs.sidebar.navigation.all_collections'), all_collections_path)%></li>
  <li><%= link_back_to_catalog %></li>
  <li><%= link_to "#{t('blacklight.search.start_over')}", root_path, :id=>"startOverLink" %></li>
</ul>
