<%= render "gallery_toggle" %>

<div class="row curator-edit-options">
  <form class="form-inline">
    <div class"controls controls-row">

      <label class="checkbox">
        <input type="checkbox" name="select-all" id="select-all">
        Select all
      </label>

      <div class="update-field">
        <span class="help-inline">Update:</span>
        <select class="span2" name="field-to-edit" id="field-to-edit">
          <option>Field to update...</option>
          <option>Description</option>
          <option>Year</option>
          <option>Location</option>
          <option>Event</option>
          <option>Marque</option>
          <option>People</option>
          <option>Group/Class</option>
          <option>Entrant</option>
          <option>Current Owner</option>
          <option>Tags</option>
          <option>Format</option>
          <option>Metadata Sources</option>
        </select>
      </div>

      <div class="update-field-value">
        <input class="span4" id="appendedInputButton" type="text" placeholder="new value">
        <%= submit_tag "Update", :class => 'btn btn-small' %>
      </div>

    </div>
  </form>
</div>

<div id="documents" class="curator">
  <%- documents.each_with_index do |document, index| -%>
    <%= render_document_partial document, :index, :document_counter => index %>
  <%- end -%>
</div>