<%= render "gallery_toggle" %>

<div id="documents" class="gallery">
  <ul class="image-grid">
    <% documents.each_with_index do |document, index| %>
      <li class="image-item">
        <%= render_document_partial document, :index, :document_counter => index %>

        <% if can? :curate, :all  %>
          <%= render partial: 'metadata_preview', locals: {document: document} %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
