<div class="row results-controls">

  <div class="col-md-4 view-toggle">
    <div class='gallery_toggle tabbable tabs-below'>
      <ul class="nav nav-pills">
        <li><%= link_to(t('revs.search.gallery_toggle.gallery'), catalog_index_path(params.merge(:view => nil)), :class=>"#{'active' if params[:view] == 'gallery' or params[:view].nil?}") %></li>
        <li><%= link_to(t('revs.search.gallery_toggle.detailed'), catalog_index_path(params.merge(:view => 'detailed')), :class=>"#{'active'if params[:view] == 'detailed'}") %></li>

        <% if can? :curate, :all  %>
          <li><%= link_to(t('revs.search.gallery_toggle.curator'), catalog_index_path(params.merge(:view => 'curator')), :class=>"showOnLoad hidden #{'active'if params[:view] == 'curator'}") %></li>
        <% end %>

      </ul>
    </div>
  </div>

  <div class="col-md-5 page-pulldown">
    <%= render 'sort_and_per_page' %>
  </div>

</div>
