<div class="row results-controls">

  <div class="span4 view-toggle">
    <div class='gallery_toggle tabbable tabs-below'>
      <ul class="nav nav-pills">
        <li><%= link_to(t('revs.search.gallery_toggle.gallery'), catalog_index_path(params.merge(:view => nil)), :class=>"#{'active' if params[:view] == 'gallery' or params[:view].nil?}") %></li>
        <!-- <li><%#= link_to(t('revs.search.gallery_toggle.list'), catalog_index_path(params.merge(:view => 'brief')), :class=>"#{'active'if params[:view] == 'brief'}") %></li> -->
        <li><%= link_to(t('revs.search.gallery_toggle.detailed'), catalog_index_path(params.merge(:view => 'detailed')), :class=>"#{'active'if params[:view] == 'detailed'}") %></li>
      </ul>
    </div>
  </div>

  <div class="span5 page-pulldown">
    <%= render 'sort_and_per_page' %>
  </div>

</div>
