<div class="row slideshow">
  <div class="span6">
    <img src="http://placehold.it/400x300">
  </div>
  <div class="span3 image-description">
    <span class="content-type collection">Featured Collection</span>
    <h3>George Phillips Collection</h3>
    <p>Morbi rutrum, tellus dictum feugiat consequat, sem mauris posuere eros, sit amet viverra nibh eros vitae nisl. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum ac dui sit amet mauris dignissim vulputate.     <%= link_to "More", '#' %></p>
  </div>
</div>


<div class="row">
  <div class="span9">
    <h2>About the Digital Library</h2>
    <div class="row">
      <div class="span2">
        <img src="http://placehold.it/120x90">
      </div>
      <div class="span7">
    <p>Morbi rutrum, tellus dictum feugiat consequat, sem mauris posuere eros, sit amet viverra nibh eros vitae nisl. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum ac dui sit amet mauris dignissim vulputate.     <%= link_to "More", '#' %></p>
      </div>
    </div>

  </div>
</div>
