<%- document ||= @document -%>
<script type="text/javascript" src="http://purl-test.stanford.edu/javascripts/purl_embed_jquery_plugin.js"></script>

<div class="modal hide zoom-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3><%= document[blacklight_config.show.heading] %></h3>
  </div>
  <div class="modal-body">
    <div id="image_workspace" style="width: 650px; height: 550px;"></div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $("#image_workspace").embedPurl('<%= document[:id] %>');  
  });
</script>