<% document_counter = 0 if !defined?(document_counter) || document_counter.nil? %>

<div class="<%= render_document_class document %> document">
  <% raise "Object missing image for #{document.id}" if document.images.nil? %>
  <%= link_to_document document,
        :label => image_tag(document.images(:large).first,
        :alt => document.title.html_safe,
        :title => document.title.html_safe,
        :border => 0),
        :counter => (document_counter + 1 + @response.params[:start].to_i) %>

  <% if document.visibility == :hidden %>
    <span class="public-visibility-status label label-warning">Hidden</span>
  <% end %>

  <h5 class="index_title">
    <%= link_to_document document,
        :label => document.title.html_safe,
        :counter => (document_counter + 1 + @response.params[:start].to_i) %>
  </h5>
</div>
