<div class="<%= render_document_class document %> document">
  <%= link_to(image_tag(document.images(:large).first,
        :alt => document.title, :title => document.title, :border => 0),
        catalog_path(document[:id])) %>
  <h5 class="index_title">
    <%= link_to(truncate(document.title, :length => 40),
          catalog_path(document[:id])) %>
  </h5>
</div>
