<div class="metadata-preview">
  <div class="score-viz">
    <div class="max-score"></div>
    <div class="item-score" data-score-value="<%= score %>"></div>
  </div>

  <i class="fa fa-info-circle"></i>
</div>
