<% if @response.total_pages > 1 %>
  <div class="row record-padding">
    <div class="col-md-12">
        <div class="pagination">
	       <%= paginate @response, :page_entries_info => page_entries_info(@response), :theme => :blacklight_compact %>
	      </div>
    </div>
  </div>
<% end %>
