<dl class="dl-horizontal  dl-invert">
		<dt>Total Items:</dt> <dd><%=number_with_delimiter(document.collection_members.total_members)%></dd>
</dl>
<p id="description"><%= render_document_show_field_value :document => document, :field => 'description_tsim' %></p>
