<p>
  <%= render :partial=>'/catalog/hidden_message', :locals=>{:document=>document,:full=>true} if document.visibility==:hidden %>
  <span class="text-muted">
    <%= t('revs.collection.total_items') %>:
  </span>
  <%= number_with_delimiter(document.collection_members(:include_hidden=>can?(:view_hidden, SolrDocument)).total_members) %>
</p>
<p id="description">
  <%= render_document_show_field_value :document => document, :field => 'description_tsim' %>
</p>
