<div id="content" class="span9 admin">
	
  <h2><%=t('revs.user.curator_dashboard')%></h2>
   <%= render :partial => 'curator/tasks/annotations_tables', :locals=>{:tab=> @tab_group}%>

</div>

<%= render :partial => 'devise/shared/show_curator_sidebar' %>
