<h3><%= t('revs.user_galleries.head') %>
  <span class="activity-count"><%= user_galleries_count(@user).to_s.rjust(1, '0') %></span>
</h3>

  <% if is_logged_in_user?(@user) %>
    <p class="muted">
  	  <em><%= t('revs.user_galleries.you_can_create_galleries_html', :href => link_to(t("revs.user_galleries.you_can_create_galleries_linktext"), "#")) %></em>  
    </p>
    <% else %>
        <p class="muted">
      	  <em><%= t('revs.user_galleries.none') %></em>  
        </p>
  <% end %>