<h3><%= t('revs.user_galleries.head') %>
  <span class="activity-count"><%#= user_annotations_count(@user).to_s.rjust(1, '0') %></span>
</h3>

<%# copy from _show_annotations partial and modify %>
  <p class="muted">
	  <em><%= t('revs.user_galleries.you_can_create_galleries_html', :href => link_to(t("revs.user_galleries.you_can_create_galleries_linktext"), "#")) %></em>  
  </p>
