<h3><%= t('revs.favorites.head') %>
  <span class="activity-count"><%#= user_annotations_count(@user).to_s.rjust(1, '0') %></span>
</h3>

<%# copy from _show_annotations partial and modify %>
  <p class="muted">
	  <em><%= t('revs.favorites.you_can_save_favorites') %></em>  
  </p>
