<div id="content" class="col-md-9 favorites-index">

  <h2><%= display_user_name(@user) %><span class="text-lowercase">'s</span> <%=t('revs.user_galleries.head') %></h2>

  <div id="galleries_area">
    <%= render :partial=>'galleries_list' %>
  </div>

</div>

<div class="col-md-3">
  <%= render :partial => 'side_nav' %>
</div>
