<div id="content" class="span9 favorites-index">
  <h2><%= display_user_name(@user) %><span class="lowercase">'s</span> <%=t('revs.user_galleries.head')%></h2>
  <div id = "galleries_area">
 	    <%= render :partial=>'galleries_list' %>
  </div>
</div>

<%= render :partial => 'side_nav' %>


