<div id="content" class="span9">

  <h2><%=t('revs.user_galleries.new_gallery')%></h2>
  
  <%= validation_errors(@gallery) %>
	
  <%= form_for(Gallery.new, :method => :post, :class => "form-horizontal" ) do |f| %>  
    <%= render :partial=>'form',:locals=>{:f=>f} %>
  <% end %>
    
</div>