<p>
	<%=t('revs.about.acknowledgements_text_html',:stanford_library=>link_to(t('revs.stanford_library'),'http://library.stanford.edu'),:revs_program=>link_to(t('revs.revs_program'),'http://revs.stanford.edu'))%>
</p>
<%= render :partial=>'end_page_slug'%>
