<p>The Revs Digital Library acknowledges the support of the 
<%=link_to 'Revs Institute','http://revsinstitute.org'%>, the <%=link_to 'Stanford University Libraries','http://library.stanford.edu'%>, and the <%=link_to 'Revs Program at Stanford', 'http://revs.stanford.edu'%>.
</p>
<p>
	<span class="slug">End</span>
</p>
