<p>
	The <a href="http://www.revsinstitute.org">Revs Institute</a> has a large and varied collection of automotive materials, including images, research books, ephemera, and specialized documents. The Revs Program at Stanford is producing research data and generating course materials.  The primary goal of the Stanford Library is to ensure these materials are indexed, preserved and made available to library patrons, researchers and the general public.  By digitizing materials and making them discoverable, content that was once available to a select few becomes useful and discoverable for a wide range of researchers. 
</p>
<p>
	<%= image_tag('revs-about-project-scanning.png', :width => '250')%>
	Working with <a href="http://pixelacuity.com/">Pixel Acuity</a>, the Revs Institute is digitizing their collection of images using specialized digital cameras.  Each slide, negative or print is cleaned and imaged at a high resolution.  The images and associated metadata are collected and transferred to Stanford, where they are being accessioned into the <a href="http://library.stanford.edu/projects/stanford-digital-repository">Stanford Digital Repository</a> (SDR).
</p>
<p>
	The Stanford Digital Repository ensures each digital object is preserved, made available via a permanent persistent URL (web address), enforces content rights and restrictions and provides a common storage mechanism for other applications to build upon.  Research and course material from the Revs Program at Stanford will also be stored in SDR, and all materials will be discoverable via Stanford Library's online catalog, <a href="http://searchworks.stanford.edu">SearchWorks</a>.
</p>
<p>
	The Revs Digital Library is built on top of the Stanford Digital Repository to provide a web based platform for discovery of automotive research and images. The Digital Library is developed in <a href="http://www.rubyonrails.org">Ruby on Rails</a> using open source technologies, including <a href="http://projectblacklight.org/">Blacklight</a>, <a href="http://projecthydra.org/">Hydra</a>, and <a href="http://fedora-commons.org/">Fedora Commons</a> and will allow for metadata editing, provide community features, and tools for researchers to further utilize the data.
</p>
<p>
	<span class="slug">End</span>
</p>
