<p>Any of the content displayed on this site may be under copyright, and it is up to the user to comply with the content's specific copyright provisions.
Each piece of content may have a different license and re-use requirement, which may be shown with the content.  If a license is not shown, you
should assume full rights remain with the owner.  For questions about terms of use, 
you may contact us and review the <%= link_to 'Stanford University Terms of Use Policy','http://www.stanford.edu/site/terms.html'%>.
You may also <%= link_to 'report alleged copyright infringement to Stanford', 'http://www.stanford.edu/group/security/dmca.html'%>.</p>
<p>
	<span class="slug">End</span>
</p>

