<p>
	<%=t('revs.about.terms_of_use_text_html',:terms_of_use_link=>link_to(t('revs.about.terms_of_use_policy'),'http://www.stanford.edu/site/terms.html'),:copyright_infringement_link=>link_to(t('revs.about.copyright_infringement'),'http://www.stanford.edu/group/security/dmca.html'))%>
</p>

<%= render :partial=>'end_page_slug'%>
