<div id="content" class="span9 about-content">
	<div class="row">
	  <div class="span9">
	    <h2><%= @page_title %></h2>
	  </div>
	</div>
	
	<div class="row">
	  <div id="about-section" class="span9">
			<%= render :partial => @page_name %>
		</div>
	</div>

</div>

<%= render :partial => 'show_about_sidebar' unless @no_nav%>