.blacklight-about {
  p {
  	font-family: "chaparral-pro","Georgia","Times New Roman",serif;
  	font-weight: 400;
  	font-size: 1.125em;
  	line-height: 1.5em;
  	color: #666666;
  	margin: 0 0 20px 0;
  	width: 90%;
  }
  img {
    float: left;
    padding-right: 20px;
  }
}