.blacklight-about #main-container {
  p {
  	font-family: "chaparral-pro","Georgia","Times New Roman",serif;
  	font-weight: 400;
  	font-size: 1.125em;
  	line-height: 1.5em;
  	color: #666666;
  	margin: 0 0 20px 0;
  	width: 90%;
    &.faq-question {
      font-weight: 600;
      margin-bottom: 6px;
      margin-top: 6px;
    }
    &.faq-answer {
      margin-bottom: 30px;
    }
  }
  #about-section img {
    float: left;
    padding: 5px 20px 5px 0;
  }
  span.slug {
    display: block;
    width: 10px;
    height: 10px;
    text-indent: -9999px;
    background: #999;
  }

  #about-section .contributor {
    margin-bottom: 10px;
    h4 {
      color: #555;
      font-size: 16px;
    }
    .media-body { margin: 3px 0 20px;}
    img {
      border: 1px solid #ddd;
      margin-right: 10px;
      margin-bottom: 15px;
      max-height: 80px;
      padding: 5px;
    }
  }

  // Make textarea wide as reasonable given viewport size
  @media screen and (min-width: 992px) {
    textarea#message {width: 500px;}
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    textarea#message {width: 320px;}
  }
  @media screen and (max-width: 767px) {
    textarea#message {}
    #about-section .contributor {clear: left;}
  }
}
