.admin {
  h3 {
    color: #555;
    font-size: 16px;
    margin-bottom: 25px;
    margin-top: 10px;
    padding-top: 6px;
  }

  td.centered, th.centered {
    text-align: center;
  }

  .form-search {
    margin-bottom: 16px;
    input#email {
      margin-bottom: 10px;
    }
  }

  .notice {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
    margin: 0 0 20px;
    padding: 0 12px;
    .text-info {
      margin: 9px 0;
    }
  }
  .row.results-controls {
    margin-top: 6px;
  }
  .nav-tabs {
    margin-bottom: 10px;
  }
  form, select, .btn, #refresh_flags {
    margin-top: 6px;
    margin-bottom: 0;
  }
  .btn-small {
    margin-left: 6px;
  }
  th.edit-count {
    min-width: 80px;
  }
}

// Responsive styles
@media screen and (min-width: 980px) {
}
@media screen and (min-width: 768px) {
  .admin {
    .form-search {
      input#email {
        margin-bottom: 0;
      }
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 979px) {
  #sidebar-nav .nav-header .label {
    margin-left: 6px;
  }
}
@media screen and (max-width: 767px) {

}
@media screen and (max-width: 479px) {

}
