#image_workspace {
  margin-left: -5px;
  margin-top: -5px;
}
.annotorious-annotationlayer  {
  img {
    border: 1px solid $gray-ccc;
  }
}

.user-image.user-image-tiny {
  margin-right: 6px;
  width: 24px;
}

.annotatable-image-nav {
  margin: 12px 0;
}

// Responsive styles
@media screen and (min-width: 992px) {

}
@media screen and (min-width: 768px) and (max-width: 991px) {

}
@media screen and (max-width: 767px) {

}
@media screen and (max-width: 479px) {

}
