// Override Blacklight theme pagination styling
.pagination {
  border-top: 1px solid #dddddd;
  display: block;
  margin-top: 0;
  padding-top: 20px;
  clear: left;
  ul {
    margin-left: -20px;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    -webkit-box-shadow: 0 0 0;
       -moz-box-shadow: 0 0 0;
            box-shadow: 0 0 0;
    > li {
      > a, > span {
        background-color: transparent;
        border: none;
        border-right: 1px solid #ddd;
        color: #999999;
        line-height: 1.5em;
      }
      > a:hover {
        color: #990000;
        text-decoration: underline;
      }
      &.disabled > a:hover, &.active > a:hover {text-decoration: none;}
      &:last-child > a,
      &:last-child > span {border-right: none;}
    }
    > .active > a,
    > .active > span {
      background-color: transparent;
      font-weight: bold;
      &:hover {color: #999999;};
    }
  }
  span.page a, span.page.current {
    padding: 0.2em 0.5em;
  }
}
