/* Not sure why we hvae to do some of these overrides.
 * The carousel seems to have a 70 px right margin caused
 * by the the dsiplay: block on the carousel.  
**/
.carousel {
	display: inline-block;
	.carousel-caption {
	  background: rgba(0, 0, 0, 0.6);
	  padding: 0 0 10px 15px;
	  p {
	    color: #ddd;
	    font-size: 14px;
	  }
	}
}
.carousel-controls {
	position: relative;
	margin-top: 20px;
	height: 45px;
	.number-of-items {
		@extend .muted;
		position: absolute;
		left: 36%;
		top: 25%;
	}
  /* Deliberate overrides to change look of default buttons */
  .carousel-control {
    background: none;
    border: none;
    color: #333;
    font-size: 90px;
    height: 30px;
    width: 40px;
    line-height: 22px;
    &.left {margin-left:-12px;}
    &.right {margin-right:-12px;}
  }
}
.blacklight-catalog-index {
  .carousel-controls {
    margin-top: 0;
    a.left {left: 0;}
    a.right {right: 0;}
  }
  .carousel-control {
    /* Put nav buttons close together when tablet or smaller */
    @media screen and (max-width: 979px) {
      left: 75px;
    }
  }
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img{
  border: 1px solid #bbb;
}

#all_collections_carousel .carousel-inner {
  max-height: 260px;
}

@media screen and (max-width: 979px) {
  .carousel {margin-bottom: 5px;}
}

@media screen and (max-width: 768px) {
  .carousel {margin-bottom: 0;}
  #all_collections_carousel .carousel-inner {
    max-height: 249px;
  }
}

@media screen and (min-width: 980px) and (max-width: 1199px) {
 .carousel-inner {max-width: 380px;}
 #all_collections_carousel .carousel-inner {
   max-height: 249px;
 }
}

@media screen and (min-width: 769px) and (max-width: 979px) {
 .carousel-inner {max-width: 290px;}
 #all_collections_carousel .carousel-inner {
   max-height: 190px;
 }
}