.carousel {
	display: inline-block;
	.carousel-caption {
	  background: rgba(0, 0, 0, 0.4);
	  padding: 0 0 10px 0;
    bottom: 0;
    left: 2px;
    right: 2px;
	  p {
	    color: #ddd;
	    font-size: 14px;
      margin-bottom: 0;
	  }
	}
}
.carousel-controls {
	position: relative;
	margin-top: 20px;
	height: 45px;
	.number-of-items {
		@extend .text-muted;
		position: absolute;
		left: 36%;
		top: 25%;
	}
  /* Deliberate overrides to change look of default buttons */
  .carousel-control {
    background: none;
    border: none;
    color: #333;
    font-size: 90px;
    font-weight: 200;
    height: 30px;
    width: 40px;
    line-height: 22px;
    &.left {margin-left:-12px;}
    &.right {margin-right:-12px;}
  }
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img{
  border: 2px solid #bbb;
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
 .carousel-inner {max-width: 380px;}
}

/* Responsive overrides specific to Collection page carousel */
@media screen and (max-width: 991px) {
  #collection_carousel.carousel {margin-bottom: 5px;}
}

@media screen and (max-width: 767px) {
  #collection_carousel.carousel {margin-bottom: 0;}
}



/** Carousel **/
// Sizes below set up carousel to show one image at a time
.jcarousel {
  float: left;
  overflow: hidden;
	width: 400px; // size of carousel image area
}

.jcarousel ul {
  width: 20000em;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}

.jcarousel li {
  float: left;
  width: 400px; // size of image on homepage
}

/** Carousel Controls **/
.jcarousel-control-prev,
.jcarousel-control-next {
  position: absolute;
  top: 0;
  width: 30px;
  height: 30px;
  text-align: center;
  background: #4E443C;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 0 1px #000;
  font: 24px/27px Arial, sans-serif;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 0 2px #999;
     -moz-box-shadow: 0 0 2px #999;
          box-shadow: 0 0 2px #999;

	&:active, &:hover, &.inactive {
		color: $container_bg_color;
		text-decoration: none;
	}
	&:active, &:hover {
		background-color: #8c1515;
	}
	&.inactive, &.inactive:hover {
		background-color: #999;
	}
}

.jcarousel-control-prev {
	left: 0;
}

.jcarousel-control-next {
  right: 0;
}

.jcarousel-control-prev:hover span,
.jcarousel-control-next:hover span {
  display: block;
}

.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
  opacity: .5;
  cursor: default;
}
