.carousel {
	display: inline-block;
	.carousel-caption {
	  background: rgba(0, 0, 0, 0.4);
	  padding: 0 0 10px 0;
    bottom: 0;
    left: 2px;
    right: 2px;
	  p {
	    color: #ddd;
	    font-size: 14px;
      margin-bottom: 0;
	  }
	}
}
.carousel-controls {
	position: relative;
	margin-top: 20px;
	height: 45px;
	.number-of-items {
		@extend .text-muted;
		position: absolute;
		left: 36%;
		top: 25%;
	}
  /* Deliberate overrides to change look of default buttons */
  .carousel-control {
    background: none;
    border: none;
    color: #333;
    font-size: 90px;
    font-weight: 200;
    height: 30px;
    width: 40px;
    line-height: 22px;
    &.left {margin-left:-12px;}
    &.right {margin-right:-12px;}
  }
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img{
  border: 2px solid #bbb;
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
 .carousel-inner {max-width: 380px;}
}

/* Responsive overrides specific to Collection page carousel */
@media screen and (max-width: 991px) {
  #collection_carousel.carousel {margin-bottom: 5px;}
}

@media screen and (max-width: 768px) {
  #collection_carousel.carousel {margin-bottom: 0;}
}
