// Carousels
.carousel img {
  border: 2px solid #bbb;
}

// The width sizes below set up the carousel to show one image at a time
// (It can show more than one image if item width is less than carousel width.)
.carousel {
  float: left;
  overflow: hidden;
	width: 400px; // size of carousel image area
}

.carousel ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  width: 20000em;
}

.carousel li {
  float: left;
  width: 400px; // size of image to display
}

.homepage-carousel {
  li {
    height: 263px;
  }
}

.collection_carousel {
	float: none;

	li {
		height: 263px;
		position: relative;
	}

	.item-caption {
		background-color: rgba(0, 0, 0, .4);
		bottom: 0;
		left: 2px;
		position: absolute;
		width: 99%;

		p {
			color: $revs-gray;
			font-size: 14px;
			line-height: 1.3;
			margin: 0;
			padding: 8px 12px;
			text-shadow: 0 1px 0 $gray-base;
		}
	}
}

.saved-items-carousel {
  margin-bottom: 15px;
}

.saved-items.slideshow {
  margin-left: 0;
  margin-right: 0;
  padding-top: 18px;

  .jcarousel-wrapper {
    padding-left: 0;

  }
  .saved-item-metadata {
    padding-right: 0;
  }

  .saved-item-year,
  .saved-item-location,
  .saved-item-description {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .saved-item-title {
    font-size: 1.25em;
    padding-bottom: 12px;
  }

  .saved-item-annotation {
    font-style: italic;
  }
}

// Carousel controls
.carousel-controls {
	height: 40px;
	margin-top: 15px;
	margin-right: 10px;
	position: relative;

	.number-of-items {
		@extend .text-muted;
		left: 39%;
		position: absolute;
		top: 25%;
	}
}

.jcarousel-control-prev,
.jcarousel-control-next {
  background: $revs-gray-light;
  color: $white;
  font: 24px/27px Arial, sans-serif;
  height: 30px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 1px $gray-base;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 0 2px $revs-gray-light;
     -moz-box-shadow: 0 0 2px $revs-gray-light;
          box-shadow: 0 0 2px $revs-gray-light;
  top: 0;
  width: 30px;

	&:active, &:hover, &:focus, &.inactive {
		color: $container-bg-color;
		text-decoration: none;
	}

	&:active, &:hover {
		background-color: #8c1515;
	}

	&.inactive, &.inactive:hover {
		background-color: $revs-gray-light;
	}
}

.jcarousel-control-prev {
	left: 0;
}

.jcarousel-control-next {
  right: 0;
}

.jcarousel-control-prev:hover span,
.jcarousel-control-next:hover span {
  display: block;
}

.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
  cursor: default;
  opacity: .3;
}

@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
	.carousel-controls {
		margin-right: 0;
	}


  .jcarousel-wrapper {
    padding-right: 8px;
  }
}

@media screen and (max-width: $screen-sm-max) {
  .carousel-controls {
    margin-bottom: 18px;
  }

  .saved-item-metadata {
    padding-left: 0;
  }
}

@media screen and (max-width: $screen-xs-max) {
	.carousel-controls {
		max-width: 400px;
	}

  .jcarousel-wrapper + .collection-description {
    margin-top: 20px;
  }
}
