.blacklight-catalog-index {
  h3 {
    padding-top: 10px;
    &.section-heading {border-top: 3px solid #dddddd;}
  }
  #featured-collection-nav {
    @include red-top_border;
  }
  .documentHeader {
	  .index_title {
		  float: left;
	  }
	  .documentFunctions {
		  float: right;
	  }
  }
}

.index_title {color: #999999;}
.bookmark_toggle {
	label {
		cursor: pointer;
		display: inline;
	}
}

.blacklight-catalog-show {
  h2 {
    @include page-header;
  }
  ul.nav-list {
    color: #999;
    font-size: 0.95em;
    padding-left: 1px;
    .nav-header {
      border-bottom: 1px solid #e5e5e5;
      margin: 0 -15px 6px 0;
      padding: 0;
    }
    > li >, > li > div {
      a, a:visited {
        color: #333;
        text-decoration: none;
        i {
          background-image: none;
          margin-right: 9px;
        }
      }
    }
  }
  .item-nav {
    float: right;
  }
  .member-image img {margin-bottom: 20px;}
  .show-document-title {
    margin-top: 0;
    padding-top: 0;
  }
  .zoom-image-link {
    display: block;
    &.visible-phone {margin-bottom: 15px;}
    &.hidden-phone {margin-top: 20px; margin-bottom: none;}
  }
  .dl-horizontal {
    margin-bottom: 12px;
    font-size: 0.95em;
    dt {
      float: left;
      clear: left;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: left;
      white-space: nowrap;
      width: 90px;
    }
    dd {
      margin-left: 100px;
      margin-right: 15px;
      p {
        margin-top: 0;
      }
    }
  }
  #feedback_link a {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
    font-size: 13px;
    margin-top: 20px;
    padding: 4px 9px;
  }
  .results-nav {
    border-bottom: 1px solid #ccc;
    margin: 0 0 12px 0;
    font-size: 12px;
    div {
      margin: 0;
    }
    .previousNextDocument {
      float: right;
      margin-right: -20px;
      padding-bottom: 2px;
    }
  }
  .accordion {
    margin-bottom: 24px;
    margin-left: 1px;
    .accordion-group {
      border: none;
      margin-bottom: 3px;
    }
    .nav-header {
      border-bottom: 1px solid #e5e5e5;
      padding: 6px 0 0;
      a {
        color: #999;
        text-decoration: none;
      }
      i {
        font-weight: 200;
      }
    }
    .accordion-toggle {
      padding: 0;
      .accordion-icon {
        float: right;
      }
    }
    .accordion-inner {
      background: #f8f8f8;
      border-top: none;
      box-shadow: inset 0 0 10px #eee, inset 0 0 10px #eee, inset 0 0 10px #eee;
      padding: 12px 9px 3px 15px;
      dt {
        color: #777;
      }
      input[type=submit] {
        float: right;
        margin-top: 12px;
      }
      .mvf {
        margin-bottom: 0;
      }
      textarea, input:not([type=submit]):not([type=file]) {
        width: 95%;
      }
      .item-edit-errors {
        clear: both;
        margin-bottom: 6px;
      }
    }
  }
  .item-actions {
    a:hover i {
      color: #990000;
    }
    a#hide_annotations_link {
      background-color: #eee;
      i {
        color: #990000;
      }
    }
    .nav-header {
      i {
        background-image: none;
        float: right;
        font-size: 1.5em;
        margin-right: 0
      }
    }
    &.curator-actions {
      margin-top: 24px;
      .curator-action-link {
        display: inline-block;
        &.disabled {
          background-color: $body_bg_color;
          i {
            margin-right: 9px;
          }
        }
      }
      #item-public-visibility-status a {
        display: inline-block;
      }
      #item-edit-history-accordion {
        .icon {
          font-size: 18px;
          margin-left: 3px;
          padding-right: 4px;
        }
        + #item-edit-history .edit-history-list  {
          margin: 6px 0 12px 25px;
          background: #f8f8f8;
          border-top: none;
          box-shadow: inset 0 0 10px #eee, inset 0 0 10px #eee, inset 0 0 10px #eee;
          padding: 12px 9px 3px 15px;
          p {
            margin-top: 0;
          }
          ul {
            margin-bottom: 6px;
          }
        }
      }
    }
    #all_flags, #all-annotations {
      color: #555;
      .flag-info, .annotation-info {
        background: rgba(0,0,0,0.05);
        border: 1px solid rgba(0,0,0,0.05);
        border-radius: 4px;
        box-shadow: rgba(0,0,0,0.2) 0 -1px 0,rgba(255,255,255,0.8) 0 1px 0;
        color: #777;
        font-size: 0.9em;
        margin: 12px 0;
        padding: 6px 9px;
        &:hover {
          background: rgba(0,0,0,0.1);
          border: 1px solid rgba(0,0,0,0.1);
          box-shadow: rgba(0,0,0,0.4) 0 -1px 0,rgba(255,255,255,0.8) 0 1px 0;
        }
        blockquote {
          border-left: none;
          color: #555;
          font-style: italic;
          margin-bottom: 6px;
          margin-top: 9px;
          padding-left: 0;
        }
        form.button_to {
          margin-bottom: 6px;
          margin-top: 12px;
          text-align: right;
        }
      }
    }
    .edit-mode-status.label,
    .posterframe-status.label,
    .public-visibility-status.label {
      margin-left: 10px;
    }
    .badge {
      background-color: #999;
      font-size: 0.85em;
      font-weight: normal;
      margin-left: 5px;
    }
    form.new_flag, div#all_flags, div#all-annotations {
      margin: 6px 0 0 25px;
      label {
        font-size: 0.95em;
        margin-left: 2px;
      }
      .flag-button {
        display: block;
      }
    }
    form.new_flag {
      margin-bottom: 24px;
    }
    form.edit_flag, div#all_flags .flag-info .resolution-history {
      border-top: 1px dotted #999;
      margin-bottom: 4px;
      margin-top: 12px;
      padding-top: 6px;
      label {
        display: inline;
        font-weight: 700;
        margin-left: 0;
      }
      span {
        display: block;
      }
    }
    #flag_resolution {
      width: 90%;
    }
    div#all-annotations, div#all_flags .flag-info {
      margin-top: 0;
      label {
        font-size: 1em;
      }
      .flag-button {
        display: inline-block;
      }
    }
    a.flag-details {
      margin-bottom: 6px;
      &.active {
        background-color: #eeeeee;
      }
      &:hover, &.flagged {
        i {
          color: #990000;
        }
      }
    }
  }
  .license-image {
    font-size: 0.95em;
    margin-top: 24px;
  }
  .pe-img-viewer-thumbs-nav-bottom {
    img.pe-img-canvas {
      border: 1px solid #ccc;
    }
    .pe-purl-url {
      border-top-style: none;
      margin-left: 3px;
    }
  }
}

/* Responsive styles */
@media screen and (max-width: 979px) {
  .blacklight-catalog-show {
    .metadata {
      margin-bottom: 20px;
      margin-top: 20px;
    }
  }
  .blacklight-catalog-index #featured-collection-nav {
    border-top: none;
  }
  .unresolved-label {
    display: none;
  }
}

@media screen and (max-width: 979px) and (min-width: 768px) {
  .blacklight-catalog-show .metadata {
    margin-top: 5px;
    .dl-horizontal {
      dt {
        float: left;
        clear: none;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .slideshow img {margin-bottom: 20px;}
  .blacklight-catalog-index #featured-collection-nav {
    border-top: none;
    padding-top: 0;
  }
  .blacklight-catalog-show {
    .back-to-results {
      display: inline;
    }
    dt {
      float: none;
    }
    dd {
      margin-left: 0;
    }
    .results-nav {
      clear: left;
      padding-top: 30px;
    }
    .results-pagination {
      display: inline;
      .previousNextDocument {
        float: none;
        margin-left: 30px;
      }
    }
  }
}
