.blacklight-catalog-index {
  h3 {
    padding-top: 10px;
    &.section-heading {border-top: 3px solid #dddddd;}
  }
  #featured-collection-nav {
    @include red-top_border;
  }
  .documentHeader {
	  .index_title {
		  float: left;
	  }
	  .documentFunctions {
		  float: right;
	  }
  }
}

.index_title {color: #999999;}
.bookmark_toggle {
	label {
		cursor: pointer;
		display: inline;
	}
}

.blacklight-catalog-show {
  h2 {
    @include page-header;
  }
  ul.nav-list {
    color: #999;
    font-size: 0.95em;
    padding-left: 1px;
    .nav-header {
      border-bottom: 1px solid #e5e5e5;
      margin: 0 0 6px;
      padding: 0;
    }
    > li >, > li > div {
      a, a:visited {
        color: #333;
        text-decoration: none;
        i {
          font-weight: 200;
          margin-right: 9px;
        }
      }
    }
  }
  .item-nav {
    float: right;
  }
  .member-image img {margin-bottom: 20px;}
  .show-document-title {
    margin-top: 0;
    padding-top: 0;
  }
  .zoom-image-link {
    display: block;
    &.visible-phone {margin-bottom: 15px;}
    &.hidden-phone {margin-top: 20px; margin-bottom: none;}
  }
  .dl-horizontal {
    margin-bottom: 12px;
    font-size: 0.95em;
    dt {
      float: left;
      clear: left;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: left;
      white-space: nowrap;
      width: 90px;
    }
    dd {
      margin-left: 100px;
      margin-right: 15px;
    }
  }
  #feedback_link a {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
    font-size: 13px;
    margin-top: 60px;
    padding: 4px;
    text-align: center;
  }
  .results-nav {
    border-bottom: 1px solid #ccc;
    margin: 0 0 12px 0;
    font-size: 12px;
    div {
      margin: 0;
    }
    .previousNextDocument {
      float: right;
      margin-right: -20px;
      padding-bottom: 2px;
    }
  }
  #item-details-accordion {
    margin-left: 1px;
    .accordion-group {
      border: none;
      margin-bottom: 3px;
    }
    .nav-header {
      border-bottom: 1px solid #e5e5e5;
      padding: 6px 0 0;
      a {
        color: #999;
        text-decoration: none;
      }
      i {
        font-weight: 200;
      }
    }
    .accordion-toggle {
      padding: 0;
      .accordion-icon {
        float: right;
      }
    }
    .accordion-inner {
      background: #f8f8f8;
      border-top: none;
      box-shadow: inset 0 0 10px #eee, inset 0 0 10px #eee, inset 0 0 10px #eee;
      padding: 12px 9px 3px 15px;
      dt {
        color: #777;
      }
    }
  }
  .item-actions {
    .accordion {
      margin-bottom: 0;
      .accordion-group {
        border: none;
        margin-bottom: 3px;
      }
      label {
        font-size: 0.95em;
        margin-left: 2px;
      }
    }
    .flag-button {
      display: block;
    }
  }
  .pe-img-viewer-thumbs-nav-bottom .pe-purl-url {
    border-top-style: none;
    margin-left: 3px;
  }
}

/* Responsive styles */
@media screen and (max-width: 979px) {
  .blacklight-catalog-show {
    .metadata {
      margin-bottom: 20px;
      margin-top: 20px;
    }
    #feedback_link a {
      margin-top: 20px;
    }
  }
  .blacklight-catalog-index #featured-collection-nav {
    border-top: none;
  }
}

@media screen and (max-width: 979px) and (min-width: 768px) {
  .blacklight-catalog-show .metadata {
    margin-top: 5px;
    .dl-horizontal {
      dt {
        float: left;
        clear: none;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .slideshow img {margin-bottom: 20px;}
  .blacklight-catalog-index #featured-collection-nav {
    border-top: none;
    padding-top: 0;
  }
  .blacklight-catalog-show {
    .back-to-results {
      display: inline;
    }
    dt {
      float: none;
    }
    dd {
      margin-left: 0;
    }
    .results-nav {
      clear: left;
      padding-top: 30px;
    }
    .results-pagination {
      display: inline;
      .previousNextDocument {
        float: none;
        margin-left: 30px;
      }
    }
  }
}
