#collection-members-grid {
  @include member-section-header;
	.controls {
	  font-size: 12px;
	  margin-bottom: 10px;
    padding-right: 0;
	  text-transform: none;
		text-align: right;
	}
	h5 {
    font-weight: 700;
		margin: 0;
    margin-left: -15px;
    .text-muted {font-size: 12px;}
	}
}
.collection-members {
	.item {
		float: left;
		margin: 5px 7px;
    position: relative;
		img {@include image_border_thumbnail;}
	}
	.muted {
	  font-size: 12px;
	  margin-left: 3px;
	  vertical-align: top;
	}
}
@media screen and (max-width: 767px) {
  .collection-members-grid-header {
    h5 {text-align: center;}
    .controls {
      padding-top: 3px;
      text-align: center;
    }
  }
}