.blacklight-collection {
  img.posterframe.collection {margin-bottom: 20px;}
  .show-document-title {
    margin-top: 0;
    padding-top: 0;
  }
  .dl-horizontal {
    dt {
      text-align: left;
      width: 80px;
    }
    dd {margin-left: 0;}
  }
}