#facets {
  padding-bottom: 2px;
  padding-top: 2px;
  background-color: #fff;
  border: 1px solid #d4d4d4;
  border-radius: 6px;
  .panel {
    border: none;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    margin-bottom: 0;
  }
  .panel-default > .panel-heading {
    background-color: #fff;
    border-bottom: none;
    padding-right: 8px;
  }
  .panel-title {
    font-size: 14px;
    font-weight: 700;
    &:after {color: #999;}
    a {color: #333;}
    a:hover {color: inherit;}
  }
  .panel-body {
    background-color: #f7f7f7;
    border-top: 1px solid #ddd;
    padding-right: 12px;
  }
  ul.facet-values {
    margin-bottom: 0;
    .facet-label {
      padding-left: 0;
      text-indent: 0;
    }
    li .selected {
      color: inherit;
    }
  }
  .facets-collapse > .panel-default:last-child {
    border-bottom: 0;
  }
}


/* "#facets-revs" serves as "#facets" does in Blacklight for CSS below.
   An extra wrapper div with the id of "facets-revs" is used to
   move the Browse heading outside of the facet box (for Revs theme)
   and keep the responsive controls working as intended.
*/
//#facets-revs {margin-top: 15px;}
#facets-revs .btn-navbar {
// Navbar button for toggling navbar items in responsive layouts
// These definitions need to come after '.navbar .btn'
  display: none;
  float: right;
  padding: 7px 10px;
  margin-left: 5px;
  margin-right: 5px;

  //BLACKLIGHT-UPGRADE-REMOVAL
  //@include buttonBackground(darken($navbarBackgroundHighlight, 5%), darken($navbarBackground, 5%));
  @include box-shadow(#{inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075)});
  & .fa-bars {
    display: block;
    width: 18px;
    height: 2px;
    background-color: #f5f5f5;

    //BLACKLIGHT-UPGRADE-REMOVAL
    //@include border-radius(1px);
    @include box-shadow(0 1px 0 rgba(0,0,0,.25));
  }
  & .fa-bars + .fa-bars {
    margin-top: 3px;
  }
}

/* Override date range slider styling */
.limit_content.range_limit {
  a.ui-slider-handle.ui-state-default.ui-corner-all {
    background: #bbb;
  }
  a.ui-slider-handle.ui-state-default.ui-corner-all {
    border-color: #aaa;
  }
  .slider-handle {
    background-color: #990000;
    background-image: linear-gradient(to bottom, #990000, darken(#990000, 10%));
  }
  .missing {
    padding-left: 12px;
    padding-right: 12px;
  }
}

@media screen and (max-width: 767px) {
//  #facets-revs .btn-navbar {
//    display: block;
//    margin: 5px;
//  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .limit_content.range_limit {
    .range_begin, .range_end {
      width: 4em;
    }
    input.submit.btn-default {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .limit_content.range_limit {
    input[type="submit"] {
      display: block;
      margin-top: 5px;
    }
    .profile, .selected {
      display: none;
    }
  }
  #facets .limit_content.range_limit .current {
    text-align: left;
    margin-left: 18px;
  }
}
