#facets {
  h5 {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
  }
  a {
    color: #990000;
    font-size: 14px;
    text-decoration: none;
  }
  a:hover {text-decoration: underline;}
  span.selected {
    color: #333333;
  }
  ul {
    padding-bottom: 0;
  }
}

/* "#facets-revs" serves as "#facets" does in Blacklight for CSS below.
   An extra wrapper div with the id of "facets-revs" is used to
   move the Browse heading outside of the facet box (for Revs theme)
   and keep the responsive controls working as intended.
*/
#facets-revs {margin-top: 15px;}
#facets-revs .btn-navbar {
// Navbar button for toggling navbar items in responsive layouts
// These definitions need to come after '.navbar .btn'
  display: none;
  float: right;
  padding: 7px 10px;
  margin-left: 5px;
  margin-right: 5px;
  @include buttonBackground(darken($navbarBackgroundHighlight, 5%), darken($navbarBackground, 5%));
  @include box-shadow(#{inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075)});
  & .icon-bar {
    display: block;
    width: 18px;
    height: 2px;
    background-color: #f5f5f5;
    @include border-radius(1px);
    @include box-shadow(0 1px 0 rgba(0,0,0,.25));
  }
  & .icon-bar + .icon-bar {
    margin-top: 3px;
  }
}

@media screen and (max-width: 767px) {
  #facets-revs .btn-navbar {
    display: block;
    margin: 5px;
  }
}
