#facets {
  a {
    color: #990000;
    font-size: 14px;
    text-decoration: none;
  }
  a:hover {text-decoration: underline;}
  span.selected {
    background-color: #eee;
    color: #990000;
  }
}
