/* TODO: Refactor to use mix-ins, etc. */

/* Variables */

$body_bg_color: #f7f7f7;

$header_bg_color: #DDDDDD;

$active_link_color: #990000;

$container_bg_color: #f7f7f7;

/* constraint (you searched for:) details: */
$constraint_bg_color: lighten($header_bg_color, 10%);
$constraint_border_color: darken($header_bg_color, 5%);
$constraint_border_active_color: #FFD27A !default;

/* Mixins */
@mixin red-top_border {
  border-top: 5px solid #990000;
  padding-top: 10px;
}

@mixin gray-top_border {
  border-top: 5px solid #DDDDDD;
  padding-top: 10px;
}

@mixin page-header {
  @include gray-top_border;
  color: #990000;
  margin-top: 0;
  padding-top: 10px;
  text-transform: uppercase;
}

@mixin member-section-header {
  @include gray-top_border;
  color: #990000;
  margin-top: 0;
  padding-top: 10px;
  text-transform: uppercase;
}

/* --- */

html {
  font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
  font-family: "Helvetica","Arial",sans-serif;
  background: $body_bg_color;
  font-size: 0.85em;
  line-height: 18px;
  margin: 0;
}

#sidebar {@include red-top_border;}
#sidebar-nav > .nav-list {
  margin-bottom: 20px;
  padding-left: 5px;
  li > a {padding: 1px 15px;}
}

a:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
a:hover,a:active {
	outline: 0;
}

img {
	max-width: 100%;
	height:auto !important;
	vertical-align: middle;
	border: 0;
	-ms-interpolation-mode: bicubic;
}

a {
	color: #990000;
	text-decoration: none;
}
a:hover {
	color: #660000;
	text-decoration: underline;
}
#news-gothic .normal {
	font-family: "news-gothic-std","Helvetica","Arial",sans-serif;
	font-weight: 400;
}
#news-gothic .bold {
	font-family: "news-gothic-std","Helvetica","Arial",sans-serif;
	font-weight: 700;
}
#chaparral-pro .normal {
	font-family: "chaparral-pro","Georgia","Times New Roman",serif;
	font-weight: 400;
}
#chaparral-pro .bold {
	font-family: "chaparral-pro","Georgia","Times New Roman",serif;
	font-weight: 700;
}
#helvetica {
	font-family: "Helvetica","Arial",sans-serif;
}
h1 {
	display: block;
	float: left;
	font-family: "news-gothic-std","Helvetica","Arial",sans-serif;
	font-weight: 700;
	font-size: 1.5em;
	line-height: 1.5em;
	color: #000000;
	margin-top: 30px;
	-webkit-font-smoothing: antialiased;
	margin-bottom: 30px;
	border-bottom: 2px solid #dddddd;
	padding-bottom: 10px;
}
h2 {
  @include page-header;
	font-size: 1.325em;
	line-height: 1.5em;
}
h3 {
	font-size: 1.125em;
	line-height: 1.5em;
}
p {
  font-family: "Helvetica","Arial",sans-serif;
  color: #333333;
//  font-size: 0.8em;
  font-size: 13px;
  line-height: 1.5em;
  margin:12px 0;
}
span.content-type {
	font-size: 0.8em;
	font-weight: bold;
	display: block;
	color: #990000;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
	&.collection {color: #01835F;}
}
.slideshow {
  margin-bottom: 20px;
}

.search_form .btn {float: right;}

// Override Blacklight theme pagination styling
.pagination {
  border-top: 1px solid #dddddd;
  margin-top: 0;
  padding-top: 20px;
  ul {
    margin-left: -20px;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    -webkit-box-shadow: 0 0 0;
       -moz-box-shadow: 0 0 0;
            box-shadow: 0 0 0;
    > li {
      > a, > span {
        background-color: transparent;
        border: none;
        border-right: 1px solid #ddd;
        color: #999999;
        line-height: 1.5em;
      }
      > a:hover {
        color: #990000;
        text-decoration: underline;
      }
      &.disabled > a:hover, &.active > a:hover {text-decoration: none;}
      &:last-child > a,
      &:last-child > span {border-right: none;}
    }
    > .active > a,
    > .active > span {
      background-color: transparent;
      font-weight: bold;
      &:hover {color: #999999;};
    }
  }
}
@media (max-width: 768px) {
  .pagination {clear: both;}
  #sidebar {
    border-top: none;
    padding-top: 0;
  }
}
@media (max-width: 979px) and (min-width: 768px) {
  #content {@include gray-top_border;}
}
