/* TODO: Refactor to use mix-ins, etc. */
/* --- */

html {
  font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
  font-family: "Helvetica","Arial",sans-serif;
  background: $body_bg_color;
  font-size: 0.85em;
  line-height: 18px;
  margin: 0;
}

.highlighted {
  background: yellow;
}

#sidebar-nav > .nav-list {
  margin-bottom: 20px;
  padding-left: 5px;
  li > a, li .button_to input[type="submit"] {
    padding: 1px 15px;
  }
  li {
    form.button_to {
      margin: 0;
      input[type="submit"] {
        color: $active_link_color;
        font-size: 1em;
        padding: 1px 0 2px;
      }
      .btn-link {
        border: none;
        text-decoration: none;
        &:hover {
          color: #660000;
        }
      }
      &:hover {
        background-color: #eee;
        color: #660000;
      }
    }
  }
}

a:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
a:hover,a:active {
	outline: 0;
}

img {
	max-width: 100%;
	height:auto !important;
	vertical-align: middle;
	border: 0;
	-ms-interpolation-mode: bicubic;
}

a, .btn-link {
	color: #990000;
	text-decoration: none;
}
a:hover, .btn-link:hover {
	color: #660000;
	text-decoration: underline;
}
#news-gothic .normal {
	font-family: "news-gothic-std","Helvetica","Arial",sans-serif;
	font-weight: 400;
}
#news-gothic .bold {
	font-family: "news-gothic-std","Helvetica","Arial",sans-serif;
	font-weight: 700;
}
#chaparral-pro .normal {
	font-family: "chaparral-pro","Georgia","Times New Roman",serif;
	font-weight: 400;
}
#chaparral-pro .bold {
	font-family: "chaparral-pro","Georgia","Times New Roman",serif;
	font-weight: 700;
}
#helvetica {
	font-family: "Helvetica","Arial",sans-serif;
}
h1, h2, h3, h4 {
  font-weight: 700;
}
h1 {
	display: block;
	float: left;
	font-family: "news-gothic-std","Helvetica","Arial",sans-serif;
	font-weight: 700;
	font-size: 1.5em;
	line-height: 1.5em;
	color: #000000;
	margin-top: 30px;
	-webkit-font-smoothing: antialiased;
	margin-bottom: 30px;
	border-bottom: 2px solid #dddddd;
	padding-bottom: 10px;
}
h2 {
  @include page-header;
	font-size: 1.325em;
	line-height: 1.3em;
}
h3 {
	font-size: 1.125em;
	line-height: 1.3em;
}
p {
  font-family: "Helvetica","Arial",sans-serif;
  color: #333333;
//  font-size: 0.8em;
  font-size: 13px;
  line-height: 1.5em;
  margin:12px 0;
}
span.content-type {
	font-size: 0.8em;
	font-weight: bold;
	display: block;
	color: #990000;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
	&.collection {color: #01835F;}
}
.slideshow {
  margin-bottom: 20px;
}

.search_form .btn {float: right;}

.modal-header {
  background-color: #990000;
  border-bottom: 1px solid #dddddd;
  h3 {
    color: #eee;
    font-size: 1.25em;
    padding-top: 0;
    text-align: center;
  }
  button.close {
    color: #eee;
    opacity: 0.9;
  }
}

.nav-element-divider {
  color: #bbb;
  padding: 4px;
}

.nav-header {
  line-height: 1.4;
}
.lowercase {
  text-transform: lowercase;
}

.nav > li > a.inline-link {
  display: inline;
}
#sidebar-nav {
  @include red-top_border;
  .nav-header .label {
    margin-left: 12px;
  }
  .nav-list.account {
    li.nav-header {
      margin-bottom: 0;
    }
    .account-date {
      color: #777;
      font-size: 13px;
      font-style: italic;
      padding-bottom: 3px;
    }
    li.account-profile > a {
        display: inline-block;
    }
  }
}

span.label, span.badge {
  font-weight: normal;
  margin-left: 6px;
}

h2 span.label {
  text-transform: capitalize;
}

.inline-help-block {
  display: inline;
  margin-left: 6px;
}

.form-horizontal input + .help-block, .form-horizontal .help-block {
  margin-top: 4px;
}

// Assumes 'Cancel' btn-link is to right of submit button
form .controls > #submit.btn {
  margin-right: 12px;
}

.badge {
  border-radius: 5px;
  padding: 1px 5px 2px;
}
.badge-revs, .label-revs {
  background-color: #990000;
}

#report-problem-form {
  border-bottom: 1px solid #dddddd;
  display: none;
  h2 {
    border-top: none;
    padding-top: 20px;
  }
  textarea, input:not([type=submit]):not([type=file]) {
    width: 80%;
  }
  select {
    width: auto;
  }
}

#about-section {
   textarea, input:not([type=submit]):not([type=file]) {
    width: 80%;
  }
  select {
    width: auto;
  } 
}

.cancel-link {
  margin-left: 12px;
}

td.right, th.right {
  text-align: right;
}

td.centered, th.centered {
  text-align: center;
}

select:focus {
  outline: none;
}

.object-count {
  font-size: 12px;
  margin-left: 3px;
  vertical-align: top;
}

.thumbnail-preview {
  @include image_border_thumbnail;
}

.handle:hover{cursor: move;}

.btn.btn-default {
  color: #333333;
  background-color: #FFFFFF;
  background-image: linear-gradient(to bottom, #FFFFFF, #E0E0E0);
  border-color: #CCCCCC #CCCCCC #CCCCCC;
}
.btn.btn-default:hover {
  color: #333333;
  background-color: #E0E0E0;
  background-image: linear-gradient(to bottom, #E0E0E0, #E0E0E0);
  border-color: #CCCCCC #CCCCCC #CCCCCC;
}

// Error page styling
.error-page {
  margin-left: 50px;
  position: relative;
  h2 {
    border-top: none;
    font-size: 1.5em;
    font-weight: 500;
    padding-top: none;
    text-transform: none;
  }
  p {
    font-size: 14px;
  }
  ul {
    list-style-type: none;
    li {
      line-height: 2em;
    }
  }
  i {
    margin-right: 10px;
  }
}
// Show image on 500 page
.error-500:before {
  z-index: -1;
  position: absolute;
  left: 35%;
  top: 80%;
  content: url(asset-path("500-page.png", image));
  opacity: 0.05;
}

// Hide element offscreen but still readable by screen readers
.hidden-offscreen {
  position: absolute !important;
  height: 1px; width: 1px; 
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.entries-info {
  text-align: right;
  margin-bottom: 5px;
}

@media screen and (max-width: 979px) {
  .error-page {
    margin-left: 0;
    .error-500:before {
      left: 10%;
      top: 110%;
    }
  }
}

@media screen and (max-width: 768px) {
  .pagination {clear: both;}
  #sidebar {
    border-top: none;
    padding-top: 0;
  }
  #report-problem-form {
    margin-left: 20px;
  }
  .error-500:before {
    left: 10%;
  }
}

@media screen and (max-width: 479px) {
  .error-500:before {
    display: none;
  }
}
