/* TODO: Refactor to use mix-ins, etc. */

/* Variables */
/* constraint (you searched for:) details: */
$constraint_bg_color: #F0AF00;
$constraint_border_color: darken($constraint_bg_color, 20%);
$constraint_border_active_color: #FFD27A !default;

/* Mixins */
@mixin red-top_border {
  border-top: 5px solid #990000;
  padding-top: 10px;
}

@mixin gray-top_border {
  border-top: 5px solid #DDDDDD;
  padding-top: 10px;
}

/* --- */

html {
  font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
  font-family: "Helvetica","Arial",sans-serif;
  background: #f7f7f7;
  font-size: 0.85em;
  line-height: 18px;
  margin: 0;
}

#sidebar {@include red-top_border;}

a:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
a:hover,a:active {
	outline: 0;
}

img {
	max-width: 100%;
	height:auto !important;
	vertical-align: middle;
	border: 0;
	-ms-interpolation-mode: bicubic;
}

a {
	color: #990000;
	text-decoration: none;
}
a:hover {
	color: #660000;
	text-decoration: underline;
}
#news-gothic .normal {
	font-family: "news-gothic-std","Helvetica","Arial",sans-serif;
	font-weight: 400;
}
#news-gothic .bold {
	font-family: "news-gothic-std","Helvetica","Arial",sans-serif;
	font-weight: 700;
}
#chaparral-pro .normal {
	font-family: "chaparral-pro","Georgia","Times New Roman",serif;
	font-weight: 400;
}
#chaparral-pro .bold {
	font-family: "chaparral-pro","Georgia","Times New Roman",serif;
	font-weight: 700;
}
#helvetica {
	font-family: "Helvetica","Arial",sans-serif;
}
h1 {
	display: block;
	float: left;
	font-family: "news-gothic-std","Helvetica","Arial",sans-serif;
	font-weight: 700;
	font-size: 1.5em;
	line-height: 1.5em;
	color: #000000;
	margin-top: 30px;
	-webkit-font-smoothing: antialiased;
	margin-bottom: 30px;
	border-bottom: 2px solid #dddddd;
	padding-bottom: 10px;
}
h2 {
	font-size: 1.325em;
	line-height: 1.5em;
	color: #333333;
}
h3 {
	font-size: 1.125em;
	line-height: 1.5em;
}
p {
  font-family: "Helvetica","Arial",sans-serif;
  color: #333333;
  font-size: 0.8em;
  line-height: 1.5em;
  margin:12px 0;
}
span.content-type {
	font-size: 0.8em;
	font-weight: bold;
	display: block;
	color: #990000;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
}
.slideshow {
  margin-bottom: 20px;
}