/* TODO: Refactor to use mix-ins, etc. */

#brandbar {
  min-height: 35px;
  .container {
    padding: 0;
  }
  #report-problem {
    float: right;
    font-size: 0.85em;
    margin-top: 9px;
    a, input[type="submit"] {color: #ddd;}
    .caret {
      border-top-color: #ddd;
    }
    .btn-group {
      display: inline-block;
      font-family: "Helvetica","Arial",sans-serif;
      font-size: inherit;
      .btn-mini {
        border: none;
        font-size: 12px;
        padding: 0 3px 0 0;
        text-shadow: none;
        vertical-align: top;
      }
      .dropdown-toggle {
        box-shadow: none;
        font-family: "Helvetica","Arial",sans-serif;
        padding: 0 3px;
        &:active, &:hover, &:visited, &:focus {
          background-color: transparent;
          outline-color: transparent;
        }
      }
      .dropdown-menu {
        background-color: #fff;
        border: 1px solid #999;
        left: auto;
        right: 0;
        li .button_to input[type="submit"], li > a, li > a:visited {
          color: #555;
          font-size: 0.9em;
          padding: 2px 12px;
        }
        li > a:hover, li > a:focus,
        li:hover, li:focus,
        li.signout:hover, li.signout:focus {
          background-color: $active-link-color;
          background-image: none;
          color: #fff;
          .button_to .btn-link {
            color: #fff;
          }
        }
        li.divider:hover {
          background-color: #e5e5e5;
        }
      }
    }
  }
  form.button_to {
    margin-bottom: 0;
    input[type="submit"] {
      font-size: 1em;
    }
    .btn-link {
      border: none;
      text-decoration: none;
    }
  }
}

.header-navbar-static-top {
  background: white;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 10px;
  padding-top: 5px;
  h1 {
    border-bottom: none;
    font-size: 2.4em;
    font-family: "news-gothic-std","Helvetica","Arial",sans-serif;
    margin: 10px 0 0;
  	line-height: 1.5em;
    padding-bottom: 0;
    a, a:hover, a:visited {
      color: inherit;
      text-decoration: none;
    }
  }
  h2 {
    border: none;
    clear: left;
    color: #555;
    font-size: 1.2em;
    font-style: italic;
    font-weight: normal;
    margin-top: 0;
    padding-top: 0;
    text-transform: none;
    > span {
      float: right;
      font-size: 13px;
      font-style: normal;
      color: #999;
    }
  }
}

.menu-bar {
  background-color: #fff;
  border-bottom: 1px solid #dddddd;
  padding-left: 40px;
  .nav-searchbox {
    float: right;
    margin-bottom: 6px;
    margin-top: 6px;
  }
  .search-form-nav {
    margin-bottom: 0;
    margin-right: 20px;
  }
}
.menu-bar > .container {
  margin-bottom: 0;
}
.menu-bar .nav {
  clear: left;
  float: left;
  margin-left: -20px;
  > .active > a, > .active > a:hover {
    background-color: #f7f7f7;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
  > li {
    float: left;
    &.active > a {
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;
      color: #990000;
    }
    > a {
      box-shadow: none;
      color: #000000;
      font-family: "news-gothic-std","Helvetica","Arial",sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 0.965em;
    	-webkit-font-smoothing: antialiased;
      padding: 12px 24px;
      &:hover, &:focus {
        background-color: white;
        color: #990000;
      }
    }
  }
}

@mixin main-menu-mobile-styling {
  .nav-collapse .btn {
    overflow: auto;
    margin-bottom: 6px;
    padding: 2px 10px 2px;
  }
}

/* If wide desktop viewport */
@media screen and (min-width: 1200px) {
  // Make brandbar elements line up with site content borders
  #brandbar .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* Narrower than desktop viewport */
@media screen and (max-width: 991px) {
  // Remove highlight styling on main menu
  .menu-bar .nav > li.active > a {
    background-color: inherit;
    border: none;
    &:hover {
      background-color: inherit;
    }
  }
  .menu-bar .nav-searchbox {
    float: none;
    text-align: center;
  }
}

/* All smaller mobile devices */
@media screen and (max-width: 767px) {
  // Center and reduce text size of site heading for mobile devices
  .header-navbar-static-top {
    .site-header-content {text-align: center;}
    h1 {
      font-size: 2em;
      float: none;
    }
    h2 {
      font-size: 1em;
      > span {
        display: block;
        margin-top: 10px;
        width: 100%;
      }
    }
  }
  // Center main menu for mobile devices
  .menu-bar .nav {
    float: none;
    text-align: center;
    margin-left: -40px;
    > li {
      display: inline;
      float: none;
      > a {
        display: inline-block;
      }
    }
  }
}

/* Just 'tablets' */
@media screen and (min-width: 768px) and (max-width: 979px) {
  // Make sure there is some side margin on site layout
  .navbar {
    .container {
      width: 724px;
      margin: 0 auto;
    }
  }
}

/* Just phones */
@media screen and (max-width:525px) {
  // Reduce font size of site header
  .header-navbar-static-top {
    h1 {
      font-size: 1.8em;
    }
  }
  // Tighten main menu item spacing to fit on single row
  .menu-bar .nav > li > a {
    padding: 10px;
  }
}
