/* TODO: Refactor to use mix-ins, etc. */

#brandbar {
  min-height: 35px;
  #report-problem {
    float: right;
    font-size: 0.85em;
    margin-top: 9px;
    a, input[type="submit"] {color: #ddd;}
    .caret {
      border-top-color: #ddd;
    }
    .btn-group {
      display: inline-block;
      font-family: "Helvetica","Arial",sans-serif;
      font-size: inherit;
      .btn-mini {
        border: none;
        font-size: 12px;
        padding: 0 3px 0 0;
        text-shadow: none;
        vertical-align: top;
      }
      .dropdown-toggle {
        box-shadow: none;
        font-family: "Helvetica","Arial",sans-serif;
        padding: 0 3px;
        &:active, &:hover, &:visited, &:focus {
          background-color: transparent;
          outline-color: transparent;
        }
      }
      .dropdown-menu {
        background-color: #fff;
        border: 1px solid #999;
        left: auto;
        right: 0;
        li .button_to input[type="submit"], li > a, li > a:visited {
          color: #555;
          font-size: 0.9em;
          padding: 2px 12px;
        }
        li > a:hover, li > a:focus,
        li:hover, li:focus,
        li.signout:hover, li.signout:focus {
          background-color: $active-link-color;
          background-image: none;
          color: #fff;
          .button_to .btn-link {
            color: #fff;
          }
        }
        li.divider:hover {
          background-color: #e5e5e5;
        }
      }
    }
  }
  form.button_to {
    margin-bottom: 0;
    input[type="submit"] {
      font-size: 1em;
    }
    .btn-link {
      border: none;
      text-decoration: none;
    }
  }
}

#header-navbar-static-top {
  border-bottom: 1px solid #dddddd;
  &.navbar {
    .logo {
      text-align: center;
      img {
        display: block;
        margin: auto;
      }
    }
  }
  h1 {
    border-bottom: none;
    font-size: 2.4em;
    font-family: "news-gothic-std","Helvetica","Arial",sans-serif;
    margin: 10px 0 0;
  	line-height: 1.5em;
    padding-bottom: 0;
    a, a:hover, a:visited {
      color: inherit;
      text-decoration: none;
    }
  }
  h2 {
    border: none;
    clear: left;
    color: #555;
    font-size: 1.2em;
    font-style: italic;
    font-weight: normal;
    margin-top: 0;
    padding-top: 0;
    text-transform: none;
  }
  .navbar-inner {
    background-color: white;
    background-image: none;
    border: none;
    box-shadow: none;
    padding-bottom: 10px;
    padding-top: 5px;
  }
}

#menu-bar {
  background-color: #fff;
  border-bottom: 1px solid #dddddd;
  padding-left: 40px;
}
.navbar {
  margin-bottom: 0;
  .nav {
    clear: left;
    display: inline;
    margin-left: -20px;
    > .active > a, > .active > a:hover {
      background-color: #f7f7f7;
      box-shadow: none;
      -webkit-box-shadow: none;
    }
    > li {
      float: left;
      &.active > a {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        color: #990000;
      }
      > a {
        box-shadow: none;
        color: #000000;
        font-family: "news-gothic-std","Helvetica","Arial",sans-serif;
      	font-weight: 700;
      	text-transform: uppercase;
      	font-size: 0.965em;
      	-webkit-font-smoothing: antialiased;
        padding: 10px 24px 8px 24px;
        &:hover, &:focus {color: #990000;}
      }
    }
    > li:last-child > a {
    }
  }
  .nav-searchbox {
    float: right;
    margin-top: 6px;
  }
  .search-form-nav {
    margin-bottom: 0;
    margin-right: 20px;
    .input-append {
      margin-bottom: 4px;
    }
    input {
      -moz-border-radius-topleft: 4px;
      -webkit-border-top-left-radius: 4px;
       border-top-left-radius: 4px;
      -moz-border-radius-bottomleft: 4px;
      -webkit-border-bottom-left-radius: 4px;
      border-bottom-left-radius: 4px;
      -moz-border-radius-topright: 0px;
      -webkit-border-top-right-radius: 0px;
       border-top-right-radius: 0px;
      -moz-border-radius-bottomright: 0px;
      -webkit-border-bottom-right-radius: 0px;
      border-bottom-right-radius: 0px;
      padding: 2px 10px;
      &:focus {
        border: 1px solid #fafafa;
        -webkit-box-shadow: 0 0 6px #007eff;
        -moz-box-shadow: 0 0 5px #007eff;
        box-shadow: 0 0 5px #007eff;
        outline: none;
      }
    }
  }
}

@mixin main-menu-mobile-styling {
  .nav-collapse .btn {
    overflow: auto;
    margin-bottom: 6px;
    padding: 2px 10px 2px;
  }
  .navbar .nav > li.active > a {
    background-color: inherit;
    border: none;
    &:hover {
      background-color: inherit;
    }
  }
  .nav-collapse .nav > li > a:hover {
    background-color: inherit;
  }
}

/* Phones: reduce logo size and center site title and nav elements */
@media screen and (max-width: 767px) {
  #header-navbar-static-top {
    h1 {
      font-size: 2em;
    }
    h2 {
      font-size: 1em;
    }
    .logo img {
      float: left;
      max-width: 80px;
    }
    &.navbar {
      .site-header-content {text-align: center;}
      h1 {float: none;}
    }
  }
  .navbar .nav-searchbox {
    float: none;
    margin-top: 30px;
    text-align: center;
    .search-query {
      min-height: 26px;
      width: 150px;
    }
  }
  @include main-menu-mobile-styling;
}

/* Tablets: reduce logo size and add some extra space between logo
   and site title and nav elements */
@media screen and (min-width: 768px) and (max-width: 979px) {
  #header-navbar-static-top {
    .logo img {
      float: right;
      max-width: 100px;
    }
  }
  .navbar {
    .container {
      width: 724px;
      margin: 0 auto;
    }
    .nav-searchbox {
      float: none;
      margin-top: 30px;
      text-align: center;
      .search-query {
        width: 150px;
      }
    }
  }
  @include main-menu-mobile-styling;
}

/* Phones: reduce logo size and center site title and nav elements */
@media screen and (max-width:480px) {
  #header-navbar-static-top.navbar {
    h1 {
      font-size: 1.8em;
    }
    h2 {
      display: none;
    }
  }
  .navbar .nav > li > a {
    padding: 10px 12px;
  }
}
