/* TODO: Refactor to use mix-ins, etc. */

#brandbar {
  min-height: 35px;
}

#header-navbar-static-top {
  border-bottom: 1px solid #dddddd;
  &.navbar {
    .logo {
      text-align: center;
      img {
        display: block;
        margin: auto;
      }
    }
    .nav {
      border-bottom: 1px solid #dddddd;
      border-top: 1px solid #dddddd;
      clear: left;
      margin-top: 6px;
      padding-bottom: 3px;
      > li {
        &.active > a {color: #990000;}
        > a {
          background-color: white;
          box-shadow: none;
          color: #000000;
          font-family: "news-gothic-std","Helvetica","Arial",sans-serif;
        	font-weight: 700;
        	text-transform: uppercase;
        	font-size: 0.965em;
        	-webkit-font-smoothing: antialiased;
          padding: 8px 25px 5px 3px;
          &:hover, &:focus {color: #990000;}
        }
      }
    }
  }
  h1 {
    border-bottom: none;
    font-size: 2em;
    font-family: "news-gothic-std","Helvetica","Arial",sans-serif;
    margin: 10px 0 5px;
  	line-height: 1.5em;
    padding-bottom: 0;
  }  
  .navbar-inner {
    background-color: white;
    background-image: none;
    border: none;
    box-shadow: none;
    padding-bottom: 15px;
    padding-top: 15px;
  }
}


@media (max-width: 767px) {
  #header-navbar-static-top {
    &.navbar .logo {
      float: left;
    }
    h1 {
      margin-left: 20px;
    }
  }
}
