@mixin masthead-background-containers() {
  position: absolute;
  left: 0;
  right: 0;
  display: block;
  width: auto;
  height: inherit;
}

#brandbar {
  font-family: 'Source Sans Pro',Arial,sans-serif;
  font-size: 14px;
  min-height: 35px;

  .container {
    padding: 0;
  }

  #report-problem {
    float: right;
    margin-top: 6px;

    #contact_us_link {
      vertical-align: middle;
    }

    a,
    input[type="submit"] {
      color: $revs-gray;
      vertical-align: middle;
    }

    .caret {
      border-top-color: $revs-gray;
    }

    .btn-group {
      display: inline-block;

      .btn-mini {
        border: 0;
        padding: 0 3px 0 0;
        text-shadow: none;
        vertical-align: top;
      }

      .dropdown-toggle {
        box-shadow: none;
        padding: 0 3px;

        &:active,
        &:hover,
        &:visited,
        &:focus {
          background-color: transparent;
          outline-color: transparent;
        }
      }

      .dropdown-menu {
        background-color: $white;
        border: 1px solid $revs-gray-light;
        left: auto;
        right: 0;

        li .button_to input[type="submit"],
        li > a,
        li > a:visited {
          color: $gray;
          padding: 2px 12px;
        }

        li > a:hover,
        li > a:focus,
        li:hover,
        li:focus,
        li.signout:hover,
        li.signout:focus {
          background-color: $active-link-color;
          background-image: none;
          color: $white;

          .button_to .btn-link {
            color: $white;
            text-align: left;
            width: 100%;
          }
        }

        li.divider:hover {
          background-color: #e5e5e5;
        }
      }
    }
  }

  form.button_to {
    margin-bottom: 0;

    input[type="submit"] {
      font-size: 1em;
    }

    .btn-link {
      border: 0;
      text-decoration: none;
    }
  }
}

$masthead-height: 186px;
$masthead-image-blur: 2px;
$menu-link-background-color-active: rgba(255, 255, 255, 0.25);
$menu-link-background-color-hover: rgba(255, 255, 255, 0.15);

#revs-masthead {
  height: $masthead-height;
  margin-bottom: -46px;
  padding: 0;
  position: static;

  & > .container {
    position: relative;
    top: 33%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .site-title {
    color: $white;
    font-family: "news-gothic-std","Helvetica","Arial",sans-serif;
    font-size: 2.4em;
    letter-spacing: 1.2px;
    text-shadow: 1px 2px 0 $gray-base;

    a,
    a:hover,
    a:visited {
      color: inherit;
      opacity: 0.95;
      text-decoration: none;
    }
  }

  small {
    color: $off-white;
    display: block;
    letter-spacing: initial;
    opacity: 0.88;
    padding-top: $padding-base-vertical;
    text-shadow: 1px 1px 0 $gray-base;

    > span {
      color: $gray-lighter;
      float: right;
      font-size: 13px;
      font-style: normal;
      text-shadow: none;
    }
  }

  // This is to add a background image to the masthead, in a way that
  // enables the site title and subtitle text to be visible above it.
  .background-container {
    @include masthead-background-containers();
    background-repeat: no-repeat;
    background-size: cover;
    // Add small amount of blur to help text stand out
    -webkit-filter: blur($masthead-image-blur);
    filter: blur($masthead-image-blur);
    // Shift image slightly to hide blurred edge of image
    margin-left: -$masthead-image-blur;
    margin-top: -$masthead-image-blur - 1;
    overflow: hidden;
    // Add right border to image to hide lighter blurred edge
    border-right: 1px solid $gray-base;
  }

  // Include gradient to improve text legibility,
  // especially on light background images.
  .background-container-gradient {
    @include masthead-background-containers();
    background:
     linear-gradient(
       rgba(0, 0, 0, 0.0),
       rgba(0, 0, 0, 0.2),
       rgba(0, 0, 0, 0.3)
     );
     // Compensate for negative top margin of background-container
     height: $masthead-height - $masthead-image-blur;
  }
}

.menu-bar {
  background-color: rgba(0, 0, 0, 0.2);
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  margin-top: 0;

  > .container {
    margin-bottom: 0;
  }

  .search-container {
    padding-left: 0;
  }

  &.navbar {
    min-height: 44px;
  }

  .navbar-nav {
    float: left;
    margin-top: 0;

    > li {
      float: left;
      text-transform: uppercase;

      a {
        color: $gray-lighter;
        font-family: "news-gothic-std","Helvetica","Arial",sans-serif;
        letter-spacing: 1px;
        padding-bottom: 10px;
        padding-top: 14px;
      }

      a:hover,
      a:focus {
        background-color: $menu-link-background-color-hover;
        color: $gray-lighter;
      }
    }

    > .active > a,
    > .active > a:hover {
      background-color: $menu-link-background-color-active;
      color: $white;
    }
  }

  .nav-searchbox {
    float: right;
    line-height: 44px;

    button[type="submit"] {
      padding-bottom: 3px;
      padding-top: 3px;
    }

    input.search-query {
      font-size: 14px;
      height: 26px;
    }
  }

  .search-form-nav {
    margin-bottom: 0;
  }
}

@mixin main-menu-mobile-styling {
  .nav-collapse .btn {
    margin-bottom: 6px;
    overflow: auto;
    padding: 2px 10px;
  }
}

.navbar-default .navbar-collapse {
  border: 0;
}

// Wide desktop viewport
@media screen and (min-width: 1200px) {
  // Make brandbar elements line up with site content borders
  #brandbar .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

// Narrower than desktop viewport
@media screen and (max-width: 991px) {
  .menu-bar {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .menu-bar .nav-searchbox {
    float: none;
    text-align: center;
  }
}

// Just 'tablets'
@media screen and (min-width: 768px) and (max-width: 991px) {
  // Make sure there is some side margin on site layout
  .navbar {
    .container {
      margin: 0 auto;
      width: 724px;
    }
  }
}

@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .menu-bar .form-group {
    max-width: 160px;
  }

  .menu-bar .search-query {
    width: 160px;
  }
}

@media screen and (max-width: $screen-xs-max) {
  a.sul-logo {
    display: inline;
    float: left;
  }

  #report-problem {
    margin-right: 15px;
  }

  // Center and reduce text size of site heading for mobile devices
  #revs-masthead {
    height: 140px;
    margin-bottom: -43px;

    .site-title {text-align: center;}

    h1 {
      float: none;
      font-size: 2em;
    }

    h2 {
      font-size: 1em;

      > span {
        display: block;
        margin-top: 10px;
        width: 100%;
      }
    }

    .background-container-gradient {
      height: 136px;
    }
  }

  .nav-searchbox .form-group {
    display: inline-block;
    margin-bottom: 0;
  }

  // Tighten main menu item spacing to fit on single row.
  // Remove highlight styling on main menu.
  // Center main menu for mobile devices.
  .menu-bar .nav {
    float: none;
    margin-bottom: 0;
    text-align: center;

    > li {
      display: inline;
      float: none;

      &.active > a {
        background-color: inherit;
        border: 0;

        &:hover {
          background-color: initial;
        }
      }

      > a {
        display: inline-block;
        padding: 10px;

        &:hover {
          background-color: initial;
        }
      }
    }
  }

  .menu-bar.navbar {
    min-height: 40px;
  }
}

// Adjustments for showing collapsed main menu.
@media screen and (max-width: 360px) {
  #revs-masthead,
  #revs-masthead .background-container-gradient {
    height: 80px;
  }

  #revs-masthead {
    margin-bottom: -5px;

    .site-title {
      font-size: 2.2em;
    }

    > .container {
      top: initial;
      transform: none;
    }
  }

  .nav-searchbox .form-group {
    display: block;
  }

  .menu-bar.navbar {
    background-color: #556168;
  }

  .menu-bar .nav > li {
    display: block;
  }

  .menu-bar-container {
    padding-right: 15px;
  }

  .menu-bar .search-container {
    padding-left: 15px;
  }
}
