.help {
  h3 {
    font-size: 17.5px;
  }
  h4 {
    font-size: 16px;
    margin-top: 30px;
  }
  p {
    font-size: 14px;
    padding-right: 15px;
  }
  ol {

  }
  ul {
    font-size: 14px;
    &.alpha {
      list-style-type: upper-alpha;
    }
  }
  img {
    background: $white;
    border: 1px solid $gray-ccc;
    display: block;
    padding: 5px;
    -webkit-box-shadow: 3px 6px 18px -7px rgba(153,153,153,1);
    -moz-box-shadow: 3px 6px 18px -7px rgba(153,153,153,1);
    box-shadow: 3px 6px 18px -7px rgba(153,153,153,1);
  }
  code {
    background-color: $white;
    border: none;
    border-bottom: 1px solid $revs-gray;
    color: inherit;
  }
  img.help-image-full-width {
    margin: 25px auto 40px;
    width: 90%;
  }
  img.help-image-left {
    float: left;
    margin-top: 0;
    margin-right: 30px;
  }
  img.help-image-right {
    float: right;
    margin: 0 10px 0 30px;
  }
  .facet-box {
    width: 150px;
  }
  .edit-form-fields {
    width: 230px;
  }
  h2 .btn {
    float: right;
  }
  .video-list .video a {
    color: inherit;
  }
  .video {
    display: inline-block;
    margin: 15px 20px 20px;
    max-width: 170px;
    vertical-align: top;
    img {
      max-width: 165px;
      padding: 5px;
    }
    h3 {
      font-size: 14px;
      margin-top: 10px;
      text-align: center;
    }
    span.duration {
      color: $gray-light;
      font-weight: 400;
    }
  }
  @media screen and (max-width: 767px) {
    .video-list {
      text-align: center;
    }
  }
}
