// Homepage carousel

/* Default values are for screen sizes 1200px and larger */
$collection-image-container: 402px;
$collection-image-right-gutter: 30px;
.slideshow {
  position: relative;
}
#all_collections_carousel {
  width: $collection-image-container;
  float: left;
  margin-right: $collection-image-right-gutter;
  .carousel-inner {
    background-color: $body_bg_color;
    border-right: $collection-image-right-gutter solid $body_bg_color;
    max-height: 265px;
  }
}
#featured-collection-nav {
  @include red-top_border;
  width: auto;
  .carousel-controls {
    margin-top: 0;
    a.left {
      margin-left: $collection-image-container + 18px;
      left: 0;
    }
    a.right {
      right: 0;
    }
  }
  .collection-teaser {
    display: table-cell;
    vertical-align: bottom;
    height: 220px;
  }
  h3 {
   margin-top: 0;
   padding-top: 0;
   > a {
     color: #000;
   }
  }
}

.about-dl {
  p {width: 95%;}
  img {
    float: left;
    margin-right: 20px;
  }
}

.highlight-list {
  $highlighted-item-width: 200px;
  ul.image-grid {
    list-style-type: none;
    margin-left: -10px;
  }
  .image-wrapper {
    float: left;
    width: $highlighted-item-width;
    height: 135px;
    overflow: hidden;
    margin-bottom: 60px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    line-height: 135px;
    display: inline-block;
    img {
      border: 1px solid #bbb;
      max-width: 100%;
      max-height: 100%;
      vertical-align: middle;
    }
  }
  h4 {
    font-size: 13px;
    line-height: 16px;
    position: absolute;
    width: 100%;
    max-width: $highlighted-item-width - 4px;
    padding-left: 2px;
    padding-right: 2px;
    text-align: center;
    span {
      display: block;
      font-weight: 500;
      padding-top: 3px;
    }
    a {
      color: #333333;
    }
  }
  h3 {
    span.more-link {
      float: right;
      font-size: 12px;
      font-weight: 500;
    }
    @include tooltip-styling;
  }
  &.explore {
    h3 {
      margin-top: 20px;
    }
    h4 {
      font-size: 14px;
      a.more-link, a.more_facets_link {
        white-space: nowrap;
      }
    }
    .item-links a {
      color: #990000;
      font-size: 13px;
      font-weight: 500;
    }
  }
}

/* Adjustments for screen sizes below 1200px */

/* Put nav buttons close together when tablet or smaller */
@media screen and (max-width: 979px) {
  #featured-collection-nav .carousel-controls a.right {
    left: 75px;
  }
}

@media screen and (min-width: 980px) and (max-width: 1199px) {
  $collection-image-container: 385px;
  $collection-image-right-gutter: 20px;
  #all_collections_carousel {
    width: $collection-image-container;
    margin-right: $collection-image-right-gutter;
    .carousel-inner {
      border-right-width: $collection-image-right-gutter;
      max-height: 250px;
    }
  }
  #featured-collection-nav {
    .collection-teaser {
      height: 205px;
    }
    .carousel-controls a.left {
      margin-left: $collection-image-container +3px;
    }
  }
  .highlight-list {
    $highlighted-item-width: 216px;
    .image-wrapper {
      width: $highlighted-item-width;
    }
    h4 {
      max-width: $highlighted-item-width - 4px;
    }
  }
}

@media screen and (max-width: 979px) {
  #featured-collection-nav {
    padding-top: 20px;
    clear: both;
    width: 100%;
    border-top: none;
    .slideshow {
      margin-bottom: 10px;
    }
    .collection-teaser {
      height: inherit;
    }
    .carousel-controls {
      height: 25px;
      .carousel-control {
        font-size: 60px;
      }
    }
    .carousel-controls a.left {
      margin-left: 0;
      text-align: left;
    }
  }
  #all_collections_carousel {
    &.carousel {
      margin-bottom: 0;
    }
    .carousel-inner {
      max-height: 249px;
    }
  }
  .highlight-list {
    $highlighted-item-width: 162px;
    ul.image-grid li.image-item {
      margin-bottom: 0;
    }
    .image-wrapper {
      width: $highlighted-item-width;
      height: 122px;
      line-height: 122px;
    }
    h4 {
      max-width: $highlighted-item-width - 4px;
    }
  }
}

@media screen and (max-width: 768px) {
  #all_collections_carousel.carousel {
    margin-bottom: 12px;
  }
  #featured-collection-nav {
    padding-top: 5px;
  }
}

@media screen and (max-width: 608px) {
  /* hide two items in highlight rows due to narrower screen size */
  .highlight-list .image-item.item-2,
  .highlight-list .image-item.item-3 {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  /* hide one item in highlight rows due to narrower screen size */
  .highlight-list .image-item.item-3 {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .highlight-list.explore {
    display: none;
  }
}
