// Homepage carousel
// Default values are for screen sizes 1200px and larger
$collection-image-container: 402px;
$collection-image-right-gutter: 30px;

.slideshow {
  position: relative;
}

#all_collections_carousel {
  float: left;

  .carousel-inner {
    background-color: $body-bg-color;
    border-right: $collection-image-right-gutter solid $body-bg-color;
    max-height: 265px;
  }
}

#featured-collection-nav {
  @include red-top-border;
  margin-left: 420px;

  .carousel-controls {
    margin-right: 0;
    margin-top: 0;

    a.left {
      left: 0;
      margin-left: $collection-image-container + 18px;
    }

    a.right {
      right: 0;
    }
  }

  .collection-teaser {
    display: table-cell;
    height: 220px;
    vertical-align: bottom;
  }

  h3 {
    margin-bottom: 6px;
    margin-top: 0;
    padding-top: 0;

    > a {
      color: $gray-base;
    }
  }

  .archive-label {
    @include archive-label;
    margin-left: 0;
  }
}

.about-dl {
  p {width: 95%;}

  img {
    float: left;
    margin-right: 20px;
  }
}

.highlight-list {
  $highlighted-item-width: 200px;

  ul.image-grid {
    list-style-type: none;
    margin-left: -10px;
    padding-left: 0;
  }

  .image-wrapper {
    display: inline-block;
    float: left;
    height: 135px;
    line-height: 135px;
    margin-bottom: 60px;
    margin-left: 7px;
    margin-right: 7px;
    overflow: hidden;
    text-align: center;
    width: $highlighted-item-width;

    img {
      border: 1px solid #bbb;
      max-height: 134px;
      max-width: 100%;
      vertical-align: middle;
    }
  }

  h4 {
    font-size: 13px;
    line-height: 16px;
    max-width: $highlighted-item-width - 4px;
    padding-left: 2px;
    padding-right: 2px;
    position: absolute;
    text-align: center;
    width: 100%;

    span {
      display: block;
      font-weight: 500;
      padding-top: 3px;
    }

    a {
      color: $gray-dark;
    }
  }

  h3 {
    span.more-link {
      float: right;
      font-size: 12px;
      font-weight: 500;
    }

    @include tooltip-styling;
  }

  &.explore {
    h3 {
      margin-top: 20px;
    }

    h4 {
      font-size: 14px;

      a.more-link,
      a.more_facets_link {
        white-space: nowrap;
      }
    }

    .item-links a {
      color: $active-link-color;
      font-size: 13px;
      font-weight: 500;
    }
  }
}

// Adjustments for no-JS version
noscript {
  #featured-collection-nav {
    margin-left: 0;
    padding-left: 0;

    @media screen and (max-width: $screen-sm-max) {
      margin-left: 15px;
    }
  }
}

// Adjustments for screen sizes below 1200px

// Put nav buttons close together when tablet or smaller
@media screen and (max-width: 991px) {
  #featured-collection-nav .carousel-controls .jcarousel-control-next {
    left: 100px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  $collection-image-container: 365px;
  $collection-image-right-gutter: 20px;

  #all_collections_carousel {
    .carousel-inner {
      border-right-width: $collection-image-right-gutter;
      max-height: 250px;
    }
  }

  #featured-collection-nav {
    .collection-teaser {
      height: 200px;
    }

    .carousel-controls a.left {
      margin-left: $collection-image-container +3px;
    }
  }

  .highlight-list {
    $highlighted-item-width: 216px;

    .image-wrapper {
      width: $highlighted-item-width;
    }

    h4 {
      max-width: $highlighted-item-width - 4px;
    }
  }
}

@media screen and (max-width: 991px) {
  #featured-collection-nav {
    border-top: 0;
    clear: both;
    margin-left: 0;
    padding-top: 12px;
    width: 100%;

    .slideshow {
      margin-bottom: 10px;
    }

    .collection-teaser {
      height: inherit;
      padding-top: 12px;
    }

    .carousel-controls {
      height: 25px;

      .carousel-control {
        font-size: 60px;
      }
    }

    .carousel-controls a.left {
      margin-left: 0;
      text-align: left;
    }
  }

  #all_collections_carousel {
    &.carousel {
      margin-bottom: 0;
    }

    .carousel-inner {
      max-height: 249px;
    }
  }

  .highlight-list {
    $highlighted-item-width: 162px;

    ul.image-grid li.image-item {
      margin-bottom: 0;
    }

    .image-wrapper {
      height: 122px;
      line-height: 122px;
      width: $highlighted-item-width;
    }

    h4 {
      max-width: $highlighted-item-width - 4px;
    }
  }
}

@media screen and (max-width: 608px) {
  // hide two items in highlight rows due to narrower screen size
  .highlight-list .image-item.item-2,
  .highlight-list .image-item.item-3 {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  // hide one item in highlight rows due to narrower screen size
  .highlight-list .image-item.item-3 {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .highlight-list.explore {
    display: none;
  }
}
