body {
  padding-top: 0;
}

#main-container {
  padding-bottom: 50px;
  padding-top: 30px;
}

body {
  @media screen and (max-width: 767px) {
      padding-left: 0px;
      padding-right: 0px;
    }
}
#header-navbar-static-top {
  @media screen and (max-width: 767px) {
      margin-left: 0px;
    }
}
#main-container {
  @media screen and (max-width: 767px) {
      padding-left: 20px;
      padding-right: 20px;
    }
}

#document {
  margin-top: 0;
}


.hide-text {
  width: 1px;
  position: absolute;
  display: inline-block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.field_with_errors {
	color: red;
	display: inline;
}

#error_explanation {
  //BLACKLIGHT-UPGRADE-REMOVAL
  //http://getbootstrap.com/components/#alerts
  //@extend .alert;
  //@extend .alert-error;
  //@extend .alert-block; /* optional */
}

.field_with_errors {
  //BLACKLIGHT-UPGRADE-REMOVAL
  //@extend .control-group.error
}

#loading-message 
{
	background: none repeat scroll 0 0 #FFFEA1;
  border: 1px solid #FFCC00;
  font-family: Arial;
  padding: 10px;
  position: fixed;
  right: 2%;
  top: 2%;
}