body {
  padding-top: 0;
}

#main-container {
  padding-bottom: 50px;
  padding-top: 30px;
}

body {
  @media (max-width: 767px) {
      padding-left: 0px;
      padding-right: 0px;
    }
}
#header-navbar-static-top {
  @media (max-width: 767px) {
      margin-left: 0px;
    }
}
#main-container {
  @media (max-width: 767px) {
      padding-left: 20px;
      padding-right: 20px;
    }
}


.hide-text {
  width: 1px;
  position: absolute;
  display: inline-block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.field_with_errors {
	color: red;
	display: inline;
}

#error_explanation {
  @extend .alert;
  @extend .alert-error;
  @extend .alert-block; /* optional */
}

.field_with_errors {
  @extend .control-group.error
}