/* Mixins */
@mixin red-top_border {
  border-top: 5px solid #990000;
  padding-top: 10px;
}

@mixin gray-top_border {
  border-top: 5px solid #DDDDDD;
  padding-top: 10px;
}

@mixin page-header {
  @include gray-top_border;
  color: #990000;
  margin-top: 0;
  padding-top: 10px;
  text-transform: uppercase;
}

@mixin member-section-header {
  @include gray-top_border;
  color: #990000;
  margin-top: 20px;
  padding-top: 10px;
  text-transform: uppercase;
}

@mixin image_border_thumbnail {
  border: 1px solid #bbb;
  box-shadow: 2px 2px #ddd;
}

@mixin hidden-visibility-overlay-label {
  font-weight: 500;
  position: absolute;
  right: 0;
  top: 0;
}

@mixin result-controls {
  font-size: 12px;
  .active {
    color: black;
    cursor: default;
    &:hover {
      text-decoration: none;
    }
  }
  .nav-pills {
    margin-bottom: 0;
    li > a {
      background-color: lighten($header_bg_color, 10%);
      border: 1px solid darken($header_bg_color, 5%);
      margin-left: 6px;
      padding-top: 3px;
      padding-bottom: 3px;
    }
    li > a:hover {
      background-color: lighten($header_bg_color, 5%);
    }
    li > a.active, a.active:hover {
      background-color: desaturate($active_link_color, 20%);
      border: 1px solid darken($header_bg_color, 10%);
      color: lighten($header_bg_color, 5%);
    }
  }
}

@mixin manage-items-toggle {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #8a0f0f;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  color: #eaeaea;
}

@mixin item-highlighting {
  background: #eee;
  border: 1px dotted #aaaaaa;
  border-radius: 5px;
  padding: 6px;
}

@mixin tooltip-styling {
  .help i {
    color: #999;
    font-size: 16px;
    padding-left: 3px;
  }
  .help i:hover {
    color: #990000;
    text-decoration: none;
  }
  .tooltip {
    font-weight: 500;
  }
}
@mixin item-stats {
  ul.item-stats {
    margin-bottom: 20px;
    margin-left: 0;
    > li {
      font-size: 13px;
      padding-left: 0;
      padding-right: 0;
      &:after {
        content: " \00b7";
      }
      &:last-child:after {
        content: none;
      }
      .item-stats-heading {
        font-weight: 600;
      }
    }
  }
}
