.saved-item-pagination {
  font-size: 13px;
  margin-bottom: 3px;
  margin-top: 10px;
  text-align: right;
}

.reorder-controls {
  @include result-controls;
  .nav-pills li > a {
    margin-left: 0;
  }
}
.saved-items img {
  max-width: 100px;
}

.manage-list-items-controls {
  border-top: 2px dotted #dedede;
  margin-top: 6px;
  padding-top: 9px;
}
#manage-item-form {
  margin-bottom: 3px;
  label {
    margin-right: 24px;
  }
  label, select, .btn {
    font-size: 13px;
  }
  select {width: 140px;}
}

@media screen and (max-width: 767px) {
  #manage-item-form select#move_to_gallery {margin-bottom: 6px;}
}
