#documents {
  border-top: 2px dotted darken($container_bg_color, 10%);
  margin-top: 0;
  padding-top: 15px;
  a {color: #333;}
  .document {
    border-bottom: none;
    position: relative;
  }
}

/* Gallery View */
#documents.gallery {
  ul.image-grid {
    list-style-type: none;
    margin-left: 0;
  }
  ul.image-grid li.image-item {
    float: left;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 169px;
    overflow: hidden;
    img {
      max-height: 125px;
    }
  }
  h5 {
    font-size: 13px;
    line-height: 16px;
    position: absolute;
    width: 100%;
  }
  .public-visibility-status.label {
    @include hidden-visibility-overlay-label;
  }
}

/* Brief/List View */
.brief {
  .index_title {
	  margin-top: 0;
	  margin-right: 5px;
	  max-width: 90%;
  }
}

/* Collections - Grid View */
#documents.gallery .blacklight-collection {
  text-align: center;
  min-height: 190px;
  min-width: 188px;
  span.muted {
    display: block;
    margin-top: 3px;
    font-weight: normal;
  }
}

/* Collections - Detailed View */
#documents.detailed {
  .collection-details {
    margin-bottom: 20px;
    span.label {
      margin-left: 0;
      margin-bottom: 9px;
    }
  }
  .collection-description {
    display: block;
    font-size: 13px;
    a {
      color: #990000;
      text-decoration: none;
    }
    a:hover {
      color: #660000;
      text-decoration: underline;
    }
  }
  .image-filmstrip {
    background-color: #f1f1f1;
    border-color: #dedede;
    .viewport {
      padding-top: 5px;
      .more-imgs {
        border-color: #999;
        color: #8A0F0F;
        font-size: 13px;
        line-height: 100px;
        text-align: center;
        background: #dedede;
        a {
          background: #f1f1f1;
          border: 1px solid #bbb;
          border-radius: 4px;
          padding: 3px 6px;
        }
      }
    }
  }
  span.no-description {
    color: #999;
    font-style: italic;
    font-size: 13px;
    font-weight: 300;
  }
}

#documents.detailed .blacklight-collection {
  padding-bottom: 0;
  .index_title {
    font-size: 15px;
    max-width: none;
  }
  span.muted {
//    font-size: 13px;
    font-weight: normal;
  }
  &.document {
    border-top: 1px dotted #ccc;
    margin-left: 0;
    margin-top: 35px;
    padding-bottom: 0;
    padding-top: 6px;
    &.first {
      border-top: none;
      margin-top: 0;
      padding-top: 0;
    }
  }
  .collection-title {
    margin-left: 0;
  }
}

/* Detailed View and Curator View */
.detailed, .curator {
  .result-item {
    margin-bottom: 12px;
  }
  .index_title {
    margin-top: 0;
    margin-bottom: 10px;
  }
  img {
    border: 1px solid #ccc;
    float: left;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    max-height: 125px;
  }
  .result-metadata-details {
    clear: left;
    .result-detail-field {
      display: block;
      margin-bottom: 6px;
      &.description {
        font-size: 0.95em;
      }
    }
  }
}

/* Curator View specific */
.curator {
  .result-item.row {
    margin-left: 0;
    &.highlighted {
      @include item-highlighting;
    }
  }
  .result-item-checkbox {
    margin-left: 0;
    padding-left: 4px;
  }
  .result-thumbnail {
    margin-left: 0;
    img {
      margin-left: 0;
    }
  }
  .field-label {
    color: #777;
    display: block;
    font-size: 11px;
    padding-top: 3px;
    text-transform: uppercase;
  }
  .edit-field-value {
    font-size: 0.95em;
  }
  .current-value {
    color: #990000;
  }
  .new-value {
    font-style: italic;
  }
  &#documents {
    border-top: 2px solid #dedede;
  }
}

/* .curator-edit-options - bulk edit controls in Curator view */
.curator-edit-options {
  background-color: #fff;
  border-top: 2px solid #dedede;
  display: block;
  margin: 18px 0 0;
  position: relative;
  form {
    margin: 10px 5px;
    .checkbox-toggle {
      font-weight: bold;
      margin-left: 0;
      text-align: left;
      input {
        font-size: 18px;
        margin-right: 6px;
        padding-left: 9px;
        vertical-align: baseline;
      }
    }
    .field-selector {
      font-weight: bold;
      margin-left: 0;
      text-align: left;
    }
    .input-append {
      text-align: right;
    }
    .new-value {
      float: right;
      input {
        margin-bottom: 0;
      }
    }
    .help-inline {
      color: #333333;
      margin-left: 20px;
    }
    .update-field {
      display: inline-block;
      margin-left: 15px;
      padding-top: 5px;
      label.radio.update {
        display: block;
      }
      input[type="radio"] {
        margin-right: 5px;
      }
    }
    .update-field-value {
      display: inline-block;
      position: absolute;
      bottom: 8px;
      right: 10px;
      .btn {
        margin-left: 6px;
      }
    }
    #bulk_edit_attribute {
      float: none;
      height: auto;
      padding-top: 0;
      margin-left: 3px;
    }
    .controls > .checkbox {
      padding-top: 0;
      input {
        margin-right: 6px;
      }
    }
  }
}

/* Results paging/controls */
.row.results-controls {
  margin-bottom: 5px;
  margin-top: 16px;
}

.gallery-filters .gallery_toggle {
  float: right;
}

.gallery_toggle {
  @include result-controls;
}

.prev-next {
  color: #777;
  float: right;
  font-size: 13px;
  font-weight: normal;
  margin-top: 5px;
  text-transform: lowercase;
}
#sort-dropdown, #per_page-dropdown {
  margin-top: 3px;
  z-index: 9999;
}
.css-dropdown li {
  font-size: 12px;
  padding: 2px 10px;
  > a {padding: 2px;}
}
span.constraints-label {margin-right: 0.5em;}

#sortAndPerPage {
  background-color: $body_bg_color;
  border: none;
  box-shadow: none;
  margin-bottom: 0;
  padding: 0;
}
.constraints, #sortAndPerPage {font-size: 0.85em;}
.constraints {
  clear: right;
  margin: 0 8px 0 0;
  .appliedFilter {
    background-color: $constraint_bg_color;
    border-color: $constraint_border_color;
    color: $active_link_color;
    padding: 1px 50px 1px 1em;
    .btnRemove {
      /* override the BL icon used as separator */
      background: asset_url('remove.png', image) no-repeat center center;
      background-size: 8px 8px;
      border-left-color: $constraint_border_color;
    }
    .queryName,.filterName {
      /* override the BL icon used as separator */
      background: none;
      padding-right: 2px;
      &:after {
        content: ">";   /* Facet > Value separator */
        padding-left: 6px;
      }
    }
  }
}

/* Search Form */
#sidebar .search_form {
	margin-bottom: 50px;
	input.hide {
		position:absolute;
		left: -1000px;
	}
  input[type='text'] {
	  width: 93%;
		@media(max-width: 767px){
		  width: 98%;
		}
  }
}

@media (min-width: 1200px) {
  #documents.detailed {
    .result-thumbnail img {
      max-height: 150px;
    }
  }
}
@media screen and (max-width: 979px) {
  .curator-edit-options {
    position: inherit;
    .controls-row {
      margin-left: 3px;
    }
    form {
      .update-field-value {
        display: block;
        position: inherit;
        input {
          margin-top: 12px;
        }
      }
      .update-field {
        display: block;
        margin-left: 0;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  #sortAndPerPage {
    display: none;
  }
  .gallery_toggle {
    float: right;
  }
  #documents.brief .blacklight-collection {
    .index_title {margin-bottom: 3px;}
    span.muted {
      display: block;
      clear: both;
    }
  }
  #documents.detailed {
    .result-thumbnail img {
      margin-bottom: 6px;
    }
    .result-metadata, .result-metadata-details {
      clear: none;
      margin-left: 12px;
    }
    .result-metadata-details {
      float: left;
      margin-left: 0;
    }
    .index_title {
      float: none;
      width: 100%;
    }
  }
  .curator-edit-options form .update-field select {
    margin-top: 10px;
  }
  .curator-edit-options form .update-field-value input[type='submit'] {
    float: right;
  }
  #documents.detailed .image-filmstrip {
    margin-top: 12px;
  }
}
@media (max-width: 480px) {
  #documents.detailed {
    .result-metadata, .result-metadata-details {
      clear: left;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 979px) {
  .constraints .appliedFilter {
    padding: 1px 25px 1px 1em;
  }
  #documents.detailed {
    .result-thumbnail img {
      max-width: 150px;
    }
  }
  #documents.detailed .blacklight-collection {
    .index_title {
      margin-left: 10px;
    }
  }
  .curator-edit-options form {
   #bulk_edit_new_value {
     width: 400px;
   }
  }
}
@media screen and (min-width: 1200px) {
  .curator-edit-options form .update-field {
    margin-left: 30px;
  }
}
