/* Search results tabs/toggle */
.gallery_toggle {
  border-top: 2px dotted #dddddd;
  font-size: 12px;
  margin-top: 30px;
  padding-top: 10px;
	text-align: right;
	.active {
		color: black;
		cursor: default;
		&:hover{
			text-decoration: none;
		}
	}
}

#documents .document {
	border-bottom: none;
	position: relative;
}

/* Gallery View */
#documents.gallery {
  ul.image-grid {
    list-style-type: none;
    margin-left: 0;
  }
  ul.image-grid li.image-item {
    float: left;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 169px;
    overflow: hidden;
    //width: 195px;
    img {
      max-height: 125px;
    }
  }
  h5 {
    font-size: 13px;
    line-height: 16px;
    position: absolute;
  }
}

/* Brief/List View */
.brief {
  .index_title {
	  margin-top: 0;
	  margin-right: 5px;
  }
}

/* Results paging/controls */
#search-results-metadata {
  &.well {
    background-color: #eeeeee;
    padding: 12px 10px 6px;
    #sortAndPerPage {
      background-color: #eeeeee;
      border: none;
      box-shadow: none;
      margin-bottom: 0;
      padding: 0;
    }
    .well-constraints, #sortAndPerPage {font-size: 0.85em;}
    .well-constraints {
      clear: right;
      margin: 20px 8px 0 0;
      .appliedFilter {
        padding: 1px 2px 1px 1em;
        .btnRemove {
          /* override the BL icon used as separator */
          background: asset_url('remove.png', image) no-repeat center center;
          background-size: 8px 8px;
        }
        .queryName,.filterName {
          background: none; /* override the BL icon used as separator */
          padding-right: 0;
          &:after {
            content: ">";   /* Facet > Value separator */
            padding-left: 6px;
          }
        }
      }
    }
    .css-dropdown li {
      font-size: 12px;
      padding: 2px 10px;
      > a {padding: 2px;}
    }
    #sort-drowpdown, #per_page-dropdown {z-index: 9999;}
    span.constraints-label {margin-right: 0.5em;}
  }
}


/* Search Form */
#sidebar .search_form {
	margin-bottom: 15px;
	input.hide {
		position:absolute;
		left: -1000px;
	}
  input[type='text'] {
	  width: 93%;
		@media(max-width: 767px){
		  width: 98%;
		}
  }
}
