/* Gallery View */
.gallery_toggle {
  border-top: 2px dotted #dddddd;
  font-size: 12px;
  margin-top: 30px;
  padding-top: 10px;
	text-align: right;
	.active {
		color: black;
		cursor: default;
		&:hover{
			text-decoration: none;
		}
	}
}
.gallery {
	.document {
		float: left;
		clear: none;
		display: inline;
		margin: 2px;
		border-bottom: none;
		width: 212px;
		height: 200px;
		text-align: center;
		.index_title {
			float: none;
			margin-bottom: 2px;
		}
		img {
			display: block;
			width: 200px;
		}
	}		
}

/* Brief/List View */
.brief {
  .document {
	  border-bottom: none;
	  .index_title {
		  margin-top: 0;
		  margin-right: 5px;
	  }
  }
}
/* Results paging/controls */
#search-results-metadata {
  &.well {
    background-color: #eeeeee;
    padding: 12px 10px 6px;
    #sortAndPerPage {
      background-color: #eeeeee;
      border: none;
      box-shadow: none;
      margin-bottom: 0;
      padding: 0;
    }
    .well-constraints, #sortAndPerPage {font-size: 0.85em;}
    .well-constraints {
      clear: right;
      margin: 20px 8px 0 0;
      .appliedFilter {
        padding: 1px 2px 1px 1em;
        .queryName,.filterName {
          background: none; /* override the BL icon used as separator */
          padding-right: 0;
          &:after {
            content: ">";   /* Facet > Value separator */
            padding-left: 6px;
          }
        }
      }
    }
    .css-dropdown li {
      font-size: 12px;
      padding: 2px 10px;
      > a {padding: 2px;}
    }
    #sort-drowpdown, #per_page-dropdown {z-index: 9999;}
    span.constraints-label {margin-right: 0.5em;}
  }
}
