#new_user, #edit_user {
  margin-top: 20px;
  .control-group.compact {
    margin-bottom: 12px;
  }
  .forgot-password {
    margin-top: 12px;
  }
  .btn.signin, .btn.signup {
    margin-right: 20px;
  }
  .subscribe {
    margin-top: 20px;
  }
  #user_bio {
    width: 90%;
  }
}

.blacklight-registrations-edit, .blacklight-users-edit {
  .help-block.first {
    margin-top: 4px;
  }
}

.blacklight-user {
  .user-website {
    display: block;
    margin-top: 6px;
  }
}

// Responsive styles
@media screen and (min-width: 1200px) {
  #new_user {
    .subscribe {
      display: inline-block;
      margin-top: 0;
      vertical-align: middle;
    }
  }
}
@media screen and (min-width: 980px) {
  #new_user {
    .forgot-password {
      display: inline-block;
      margin-left: 12px;
      margin-top: 0;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 979px) {

}
@media screen and (max-width: 767px) {

}
@media screen and (max-width: 479px) {
  #new_user {
    margin-top: 10px;
  }
}