#new_user, #edit_user {
  margin-top: 20px;
  .control-group.compact {
    margin-bottom: 12px;
  }
  .forgot-password {
    margin-top: 12px;
  }
  .btn.signin, .btn.signup {
    margin-right: 20px;
  }
  .subscribe {
    margin-top: 20px;
  }
  #user_bio {
    width: 90%;
  }
  .avatar img {
    width: 100px;
    border: 1px solid #bbb;
  }
  .checkbox.inline {
    display: block;
  }
  #user_avatar {
    display: block;
    margin-top: 12px;
  }
}

.blacklight-user {
  .profile-vitals {
    margin-top: 15px;
    .user-image {
      border: 1px solid #ddd;
      max-height: 150px;
      padding: 5px;
    }
    .user-bio {
      font-size: 1.2em;
      font-style: italic;
      font-weight: 200;
      line-height: 1.3em;
      margin-bottom: 12px;
    }
  }
  .profile-links {
    border-bottom: 2px solid #ddd;
    margin-bottom: 30px;
    margin-left: 0;
    margin-top: 10px;
    padding-bottom: 8px;
    .user-name {
      font-size: 1.1em;
      font-weight: bold;
      line-height: 1.3em;
      margin-left: 0;
    }
    .user-links {
      border-top: 1px dotted #bbb;
      margin-top: -6px;
      padding-top: 6px;
      a.user-link {
        font-size: 0.95em;
        font-weight: bold;
        margin-left: 5px;
        &:hover, &:active, &:visited, &:link {
          color: #555;
          text-decoration: none;
        }
        i {
          vertical-align: middle;
        }
        &.website {
          padding-right: 12px;
          i {
            padding-right: 2px;
          }
        }
        &.twitter {
          padding-left: 8px;
        }
      }
      .divider {
        color: #999;
      }
    }
  }
  .profile-activity {
    margin-top: 18px;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        &.activity-item {
          clear: left;
          li {
            margin-bottom: 3px;
            img {
              float: left;
              margin-bottom: 20px;
              margin-right: 12px;
              max-width: 80px;
              @include image_border_thumbnail;
            }
            &.item-title {
              font-size: 1.1em;
            }
            &.annotation {
              font-style: italic;
            }
          }
        }
      }
    }
    h3 {
      border-bottom: 1px solid #ddd;
      clear: left;
      color: #777;
      font-size: 1.25em;
      margin-bottom: 15px;
    }
    .activity-count {
      color: #888;
      float: right;
      font-size: 1.25em;
      margin-right: 10px;
    }
    i {
      background-image: none;
      color: #777;
      margin-right: 6px;
      vertical-align: baseline;
    }
    .more-link {
      clear: left;
      font-size: 1.1em;
      font-style: italic;
    }
  }
}

.favorites-index {
  .manage-items {
    font-size: 12px;
    a.active {
      @include manage-items-toggle;
    }
  }
  .saved-items {
    border-top: 2px dotted #dedede;
    padding-top: 12px;
  }
  .row.item {
    margin-left: 0;
    margin-bottom: 30px;
    > div {
      margin-left: 0;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        img {
          float: left;
          margin-bottom: 12px;
          margin-right: 12px;
          max-width: 80px;
          @include image_border_thumbnail;
        }
      }
    }
    .item-annotation {
      margin-top: 3px;
      margin-bottom: 0;
    }
    .item-creation-date {
      font-size: 13px;
    }
    .saved-item-actions {
      font-size: 13px;
    }
    .button_to {
      display: inline-block;
      margin-bottom: 0;
      .btn-link {
        color: #990000;
        font-size: 13px;
        padding: 0;
        vertical-align: baseline;
      }
    }
  }
  .prev-next {
    font-size: 0.9em;
    margin-top: 0;
  }
  .edit_saved_item {
    input[type="submit"] {
      margin-right: 6px;
    }
  }
}

.thumbnail-column, .edit-content {
  display: inline-block;
}

.thumbnail-column {
  margin-right: 20px;
  vertical-align: top;
  img {
    max-width: 100px;
    margin-top: 4px;
  }
}

.edit-content, .gallery-metadata {
  ul.item-stats {
    margin-bottom: 20px;
    > li {
      font-size: 13px;
      padding-left: 0;
      padding-right: 0;
      &:after {
        content: " \00b7";
      }
      &:last-child:after {
        content: none;
      }
      .item-stats-heading {
        font-weight: 600;
      }
    }
  }
  form {
    label {
      font-weight: 600;
      &.radio {
        font-weight: 500;
      }
    }
    .control-group.buttons {
      margin-top: 30px;
    }
  }
}

.saved-items {
  .item-details, .item-description, .item-annotation {
   display: inline-block;
   vertical-align: top;
  }
  .item-details {
    margin-right: 15px;
    width: 50%;
  }
  .item-description {
    font-size: 13px;
    width: 45%;
    textarea {
      font-size: inherit;
      width: 100%;
    }
  }
  .item-annotation {
    > span {
      font-style: italic;
    }
  }
  .item-title {
    font-size: 1.1em;
    margin-bottom: 8px;
    line-height: 18px;

    .handle {
      margin-right: 6px;
    }
  }
  .thumbnail-preview {
    float: left;
    margin-right: 15px;
  }
  ul {
    vertical-align: bottom;
    span {
      color: #888;
    }
  }
  .highlighted {
    @include item-highlighting;
  }
}

.gallery-details {
  img {
    margin-top: 4px;
    max-height: 160px;
    max-width: 195px;
  }
}
.gallery-metadata {
  margin-left: 0;
  ul.item-stats {
    margin-bottom: 10px;
  }
  .gallery-actions {
    font-size: 13px;
    form, form > div {
      display: inline;
      .btn-link {
        font-size: 13px;
        padding: 0;
        vertical-align: inherit;
      }
    }
    .manage-items {
      display: inline;
      a.active {
        @include manage-items-toggle;
      }
    }
  }
  .label-info {
    margin-left: 0;
  }
}

// Galleries //
#documents.gallery .blacklight-collection {
  .image-wrapper {
    min-width: 188px;
    position: relative;
    span.label {
      position: absolute;
      right: 1px;
      bottom: 10px;
      margin-left: 0;
      opacity: 0.9;
      &.creator {
        background-color: $important;
        border: 1px solid darken($important, 5%);
      }
      &.creator-self {
        background-color: $success;
        border: 1px solid darken($success, 5%);
      }
    }
  }
}

// Responsive styles
@media screen and (min-width: 1200px) {
  #new_user {
    .subscribe {
      display: inline-block;
      margin-top: 0;
      vertical-align: middle;
    }
  }
  .gallery-details {
    img {
      max-width: 250px;
    }
  }
}
@media screen and (min-width: 980px) {
  #new_user {
    .forgot-password {
      display: inline-block;
      margin-left: 12px;
      margin-top: 0;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 979px) {
  .profile-visibility {
    display: none;
  }
  .gallery-metadata {
    margin-left: 20px;
  }
  .gallery-details {
    img {
      max-width: 165px;
    }
  }
}
@media screen and (max-width: 767px) {
  .blacklight-user {
    .profile-vitals {
      .user-image {
        margin-bottom: 12px;
        width: 120px;
      }
      .user-bio {
        margin-bottom: 0;
      }
    }
    .profile-links {
      .user-name {
        margin-bottom: 12px;
      }
    }
  }
  #sidebar.user-dashboard-sidebar {
    border-top: 2px solid #ddd;
    margin-top: 12px;
    padding-top: 12px;
  }
  .galleries-landing .gallery_toggle {
    float: left;
  }
}
@media screen and (max-width: 979px) {
  .thumbnail-column {
    display: none;
  }
  .favorites-index .row.item .item-annotation {
    margin-top: 0;
  }
  .saved-items {
    .item-details, .item-description {
      float: left;
      width: 100%;
    }
    .item-description {
      margin-top: 12px;
    }
  }
}
@media screen and (max-width: 479px) {
  #new_user {
    margin-top: 10px;
  }
}