// Variables

// Colors used more than once
$revs-red: #900;
$revs-red-dark: #600;
$revs-gray: #ddd;
$revs-gray-light: #999;
$gray-ccc: #ccc;
$white: #fff;
$white-smoke: #f5f5f5;
$off-white: #f7f7f7;
$green: #01835f;

// Inherited Bootstrap color variables
// (here just for easier reference)

// $gray-base:              #000
// $gray-darker:            #222
// $gray-dark:              #333
// $gray:                   #555
// $gray-light:             #777
// $gray-lighter:           #eee
//
// $brand-primary:         #337ab7
// $brand-success:         #5cb85c
// $brand-info:            #5bc0de
// $brand-warning:         #f0ad4e
// $brand-danger:          #d9534f

// Common elements
$body-bg-color: $off-white;
$header-bg-color: $revs-gray;
$active-link-color: $revs-red;
$container-bg-color: $off-white;

// constraint (you searched for:) details
$constraint-bg-color: lighten($header-bg-color, 10%);
$constraint-border-color: darken($header-bg-color, 5%);
$constraint-border-active-color: #ffd27a !default;

// label colors in rgba
$success: rgba(70, 136, 71, .9);
$warning: rgba(248, 148, 6, .9);
$important: rgba(185, 74, 72, .9);
$default: rgba(153, 153, 153, .9);
$info: rgba(58, 135, 173, .9);
