/* Variables */

$body_bg_color: #f7f7f7;
$header_bg_color: #DDDDDD;
$active_link_color: #990000;
$container_bg_color: #f7f7f7;

/* constraint (you searched for:) details: */
$constraint_bg_color: lighten($header_bg_color, 10%);
$constraint_border_color: darken($header_bg_color, 5%);
$constraint_border_active_color: #FFD27A !default;

/* label colors in rgba */
$success: rgba(70,136,71, 0.9);
$warning: rgba(248, 148, 6, 0.9);
$important: rgba(185, 74, 72, 0.9);
$default: rgba(153, 153, 153, 0.9);
$info: rgba(58, 135, 173, 0.9);