/*  
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "bootstrap";
@import "bootstrap-responsive";

@import 'blacklight/responsive';

@import 'blacklight/blacklight_defaults';

@import "global.css.scss";
@import "layout.css.scss";
@import "header.css.scss";
@import "homepage.css.scss";
@import "about.css.scss";
@import "blacklight/facets.css.scss";
@import "facets.css.scss";
@import "blacklight/catalog.css.scss";
@import "catalog.css.scss";
@import "blacklight/dropdown";

@import "collection_members_grid.css.scss";
@import "carousel.css.scss";

@import "search_results.css.scss";

@import "stanford_footer.css.scss";

.hide-text {
  width: 1px;
  position: absolute;
  display: inline-block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
