/*  
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "bootstrap";
@import "bootstrap-responsive";

@import 'blacklight/responsive';

@import 'blacklight/blacklight_defaults';

@import "global";
@import "layout";
@import "header";
@import "homepage";
@import "about";
@import "blacklight/facets";
@import "facets";
@import "blacklight/catalog";
@import "catalog";
@import "blacklight/bookmark";
@import "blacklight/dropdown";

@import "collection_members_grid";
@import "carousel";

@import "search_results";

@import "stanford_footer";

.hide-text {
  width: 1px;
  position: absolute;
  display: inline-block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
