<p><%= t('revs.user.account_locked') %>.</p>

<p><%= t('revs.user.account_locked_instructions') %>:</p>

<p><%= link_to t('revs.user.account_locked_linktext'),
        unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
